@charset "UTF-8";

/**
 * ポジションをセンターにする。
 */
%positionCenter{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


%flexcentering{
    display: flex;
    justify-content: center;
    align-items: center;
}
