@charset "UTF-8";

@import '../_mixin/_retinaDetect';

/**
 * hoverで.35のopacity
 */
%hoverAlpha60{
    opacity: 1;
    transition: opacity 600ms;
    &:hover{
        opacity: .6;
    }
}


%buttonEffect{
    @include isPC{
        position: relative;
        overflow: hidden;

        span,img{
            // position: relative;
            z-index: 3;
            &:after {
                z-index: 4;
            }
        }

        &:before{
            content:'';
            position: absolute;
            display: block;
            width: 130%;
            height:100%;
            left:0;
            top:50%;
            background:$colorRed;
            z-index: 2;
            transform: translateY(-50%) translateX(-110%) skew(-34deg);
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 130%;
            height: 100%;
            left: 0;
            top: 50%;
            background:$colorRed;
            opacity: .5;
            z-index: 1;
            transform: translateY(-50%) translateX(-110%) skew(-34deg);
        }


        &.is-active{
            &:before {
                animation: activeEffect 450ms 50ms $easeOutQuart both;
            }

            &:after {
                animation: activeEffect 500ms $easeOutQuart both;
            }

        }

        &.is-deactive{
            &:before{
                animation:deactiveEffect 400ms $easeOutQuart both;
            }

            &:after {
                animation: deactiveEffect 400ms $easeOutQuart both;
            }
        }
    }
  }
