@charset "UTF-8";

%seperater {
    display: block;
    height: 2px;
    width: 10px;
    background-color: #514a47;
    margin: 0 auto;
}

@mixin seperater() {
    display: block;
    height: 2px;
    width: 10px;
    background-color: #514a47;
    margin: 0 auto;
    @include bgimg('pc/common/wave_sep.png', 176px, 28px);
}