@import '../_mixin/_fontset';

%m-movie {
    position: relative;

    .thumb{
        background: #4A4A4A;
    }

    .image{
        opacity: .6;
        transition:opacity 300ms;
        source,img{
            width: 100%;
        }
    }

    .thumb:hover {

        .image{
            opacity: 1;
        }

        + .movie-front {
            .icon{
                transform: scale(.95);
            }
        }

    }

    .movie-front {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        color: #fff;
        p {
            white-space: nowrap;

            @include smartText(1.8rem, 0, 1.38px);
            font-weight: bold;
            @include isMobile {
                @include smartText(1.6rem, 0, 1.69px);
            }
        }
        .icon {
            margin: calc(30px - .25em) 0 16px;

            @include isMobile {
                margin: calc(15px - .25em) 0 10px;
                width: 50px;
                height: auto;
            }

        }
        .icon+p {
            font-family: $bebasB;
            @include smartText(2.2rem, 0, 1.69px);

            @include isMobile {
                @include smartText(1.8rem, 0, 1.69px);
            }
        }
    }
}
