@charset "UTF-8";

/**
 * 画面にぴったりフィットして全画面
 */
%fitFix{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
}

/**
 * 画面にぴったりフィットして全画面
 */
%fitAbsolute{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
