/*
#styleguide
<%=options.prefix%>

```
<% sprites.forEach(function(sprite) {%><i class="<%=options.prefix%> <%=sprite.name%>"></i><% }); %>
```
*/

<% sprites.forEach(function(sprite) {%>$<%=sprite.name%>: <%=sprite.x%> <%=sprite.y%> <%=sprite.offset_x%> <%=sprite.offset_y%> <%=sprite.width%> <%=sprite.height%> <%=sprite.total_width%> <%=sprite.total_height%> '<%-sprite.escaped_image%>' <%=sprite.name%>;
<% }); %>
<%if (options.functions) {%>
@mixin sprite-width($sprite,$scale:1) {
    width: nth($sprite, 5) * $scale;
}
@mixin sprite-height($sprite,$scale:1) {
    height: nth($sprite, 6) * $scale;
}
@mixin sprite-position($sprite,$scale:1) {
    $sprite-offset-x: nth($sprite, 3) * $scale;
    $sprite-offset-y: nth($sprite, 4) * $scale;
    // background-position: $sprite-offset-x  $sprite-offset-y;
    background-position: (($sprite-offset-x / ($total_width - nth($sprite, 7))) * -100%) (($sprite-offset-y / ($total_height -  nth($sprite, 7))) * -100%);
}
@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
    background-repeat: no-repeat;
}
@mixin sprite-size($sprite,$scale:1) {
    background-size: nth($sprite, 7)*$scale nth($sprite, 8)*$scale;
    background-size: (($total_width / nth($sprite, 7)) * 100%) (($total_height /  nth($sprite, 8)) * 100%);
}
@mixin sprite($sprite,$scale:1) {
    display: inline-block;
    @include sprite-image($sprite);
    @include sprite-position($sprite,$scale);
    @include sprite-width($sprite,$scale);
    @include sprite-height($sprite,$scale);
    @include sprite-size($sprite,$scale);
}
<% } %>


// $<%=spritesheet_name%>: (<%sprites.forEach(function(sprite){%>$<%=sprite.name%>,<% }); %>);
// @each $sprite in $<%=spritesheet_name%> {
//    $name: nth($sprite,10);
//    .<%=options.prefix%>.#{$name} {
//        @include sprite($sprite,<%=options.scale%>);
//    }
// }

