@font-face {
    font-family: "myYuGothicM";
    font-weight: normal;
    src: local("YuGothic-Medium"), /* postscript name*/
    local("Yu Gothic Medium"), /* for chrome */
    local("YuGothic"), /* for chrome */
    local("YuGothic-Regular");
    /* nothing medium */
}

@font-face {
    font-family: "myYuGothicB";
    font-weight: bold;
    src: local("YuGothic-Bold"), /* postscript name */
    local("YuGothic"), /* for chrome */
    local("Yu Gothic");
    /* for chrome */
}

// @font-face {
//     font-family: "bebasB";
//     font-weight: bold;
//     src: url("/assets/fonts/bebas/bebasneue.woff") format("woff"),
//         url("/assets/fonts/bebas/bebasneue.woff2") format("woff2"),
//         url("/assets/fonts/bebas/bebasneue.eot")
// }
// @font-face {
//     font-family: "notoM";
//     font-weight: normal;
//     src: url("/assets/fonts/noto/notosans_medium_subset.woff") format("woff"), url("/assets/fonts/noto/notosans_medium_subset.woff2") format("woff2"), url("/assets/fonts/noto/notosans_medium_subset.eot")
// }
// @font-face {
//     font-family: "notoB";
//     font-weight: bold;
//     src: url("/assets/fonts/noto/notosans_bold_subset.woff") format("woff"), url("/assets/fonts/noto/notosans_bold_subset.woff2") format("woff2"), url("/assets/fonts/noto/notosans_bold_subset.eot")
// }