.site-nav {
    position: relative;
    z-index: 5;
    .nav-container {
        position: relative;
    }
    h1 {
        display: none;
    }
    .nav-main {
        .brandsite-top {
            width: 184px;
            height: 16px;
            position: absolute;
            top: 30px;
            right: 30px;
            a {
                display: block;
                @include bgimg('pc/common/brandsite_link.png', 184px, 16px);
            }
        }
    }
    .menubtn {
        display: none;
    }
}

@include max-screen(750px) {
    .site-nav {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        .nav-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 0; //82px;
            overflow: hidden;
            z-index: 10;
            background-color: rgba(white, 1);
            transition: all 0.5s ease;
        }
        h1 {
            // position: relative;
            // top: 8px;
            // left: 10px;
            display: block;
            padding: 8px 10px;
            a {
                display: inline-block;
            }
            span {
                @include r-bgimg('sp/common/nav-logo.png', 198px, 128px);
                display: block;
            }
        }
        .nav-main {
            background-color: #cedceb;
            position: relative;
            overflow: hidden;
            top: 0;
            max-height: 0;
            transition: max-height 0.5s ease;
            .brandsite-top {
                width: auto;
                height: auto;
                position: static;
                top: 0;
                right: 0;
                a {
                    display: block;
                    // @include bgimg('pc/common/brandsite_link.png', 184px, 16px);
                    background: transparent;
                    display: block;
                    width: auto;
                    height: auto;
                    text-indent: 0;
                    color: #514a47;
                    padding: 10px 15px;
                    &:before {
                        content: "・ ";
                    }
                }
            }
        }
        .menubtn {
            @include r-bgimg('sp/common/menu_open_btn.png', 54px, 44px);
            width: 56px*0.5;
            height: 46px*0.5;
            position: fixed;
            top: 30px;
            right: 15px;
            z-index: 20;
        }
    }
    body.menu-open {
        .site-nav {
            .nav-container {
                // height: 82px;
                max-height: 200px;
                background-color: rgba(white, 1);
                .nav-main {
                    max-height: 500px;
                }
            }
            .menubtn {
                @include r-bgimg('sp/common/menu_close_btn.png', 56px, 46px);
            }
        }
    }
}