@charset "UTF-8";

* {
    list-style: none;
}

/**
 * Site base settings
 */
html {
    height: 100%;
    font-size: 62.5%;
    /* 10(base font size) / 16(Browser Default font size) = 0.625em * 100 = 62.5% */
    -webkit-font-smoothing: antialiased;
    font-family: $baseFontFamily;
}

body {
    font-size: 1.2em;
    color:$colorBase;
}

// * {
//     margin: 0;
//     padding: 0;
//     text-decoration: normal;
//     font-style: normal;
//     font-weight: normal;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}

nav ul {
    list-style-type: none;
}

img,
svg {
    vertical-align: bottom;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

input,textarea{
    appearance:none;
    border:none;
    border-radius: 0;
    &:focus{
        outline: none;
    }
}

select,option{
    border:none;
    border-radius: 0;
    &:focus{
        outline: none;
    }

}


figure,figcaption,ul,ol,li,dl,dt,dd,p{
    margin: 0;
    padding: 0;
}



/**
 * カーニング 情報
 */

.kerningL {
    display: inline-block;
    text-indent: -.5em;
}

.kerningR {
    display: inline-block;
    margin-right: -.5em;
    text-indent: 0em;
}

.kerningLR {
    display: inline-block;
    text-indent: -.25em;
    margin-right: -.25em;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: inherit;
    // color:#fff;
}

/**
 * Selection style
 */

::selection {
    background: rgba(#32acad, .2);
    color: #32acad;
}

::-moz-selection {
    background: rgba(#32acad, .2);
    color: #32acad;
}

