 <%
    var currentPage = 7;
    var sec = sec_pages[currentPage - 1];

    var pageNumString = currentPage < 10 ? '0' + currentPage.toString() : currentPage.toString();

    var page = {
        title           : sec.title,
        keywords        : '',
        description     : '',
        ogpTitle        : '',
        ogpDescription  : '',
        ogpImage        : '',
        ogpType         : 'website',
        class           : 'sec',
        fileName        : 'sec',
        pageDir        : '/',
        customHead      : '',
        customFoot      : '',
        thirdpartyScripts: '',

        ex_title: '透明感のヒミツ',
        ex_text: 'そよそよと、風が渡るハトムギの畑。ここはいつ来ても、季節を感じることができるの。ちなみに、大人気の化粧水”ブラン コンフォール”はここのハトムギエキスがたっぷり入っているんだって。この植物は昔から、漢方薬としても使われていたぐらい優れた成分らしいの。島中の人が透明感がでてくるって愛用しているよ。'  
    };
%>
<% include ../_head %>
<% include ../_site-header %>
<% include ../_site-nav %>

<article class="sec-article <%= 'sec-page' + currentPage %>">
    <section class="sec-main">
        <div class="kv"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_kv', ext:'jpg', alt:sec.title + 'のイメージ' , cls:''}); %></div>
        <section class="body">
            <div class="inner">
                <h1><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_title', ext:'png', alt:sec.title + ' ' + sec.subtitle , cls:''}); %></h1>
                <div class="illust"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_illust', ext:'png', alt:'プレミちゃん' , cls:''}); %></div>
                <div class="contents">
                    <p><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_txt', ext:'png', alt:sec.text , cls:''}); %></p>
                    <nav class="recommend">
                        <h3><span>プレミおすすめ</span></h3>
                        <ul>
                            <li><a href="http://www.predia.net/series/spa-et-mer/items/skincare/bran-conforl.html"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/recommend_lotion', ext:'png', alt:'化粧水', cls:''}); %></a></li>
                            <li><a href="http://www.predia.net/series/predia/items/other/green-gelee.html"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/recommend_food', ext:'png', alt:'栄養機能食品', cls:''}); %></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <div class="kv02"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_kv02', ext:'jpg', alt:page.ex_title + 'のイメージ' , cls:''}); %></div>
        <section id="transparency" class="body transparency">
            <div class="inner">
                <h1><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_title02', ext:'png', alt:'' , cls:''}); %></h1>
                <div class="illust"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_illust02', ext:'png', alt:'プレミちゃん' , cls:''}); %></div>
                <div class="contents">
                    <p><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_txt02', ext:'png', alt:page.ex_text , cls:''}); %></p>
                </div>
                <div class="product-link"><a href="https://www.predia.net/series/spa-et-mer/items/skincare/bran-conforl.html">数量限定 深い透明感体感セットも発売中！ ブラン コンフォール</a></div>
            </div>
        </section>
    </section>

    <section class="position-map">
        <div class="current-mark"></div>
        <div class="map"></div>
    </section>

    <section class="sec-nav">
        <h1><a href="/prediaisland/"><span>ようこそ、プレディア島へ</span></a></h1>
        <nav>
            <div class="prev <%= sec.prev > -1 ? '' : 'is-disabled' %>"><a href="/prediaisland/<%= sec.prev > -1 ? sec.prev < 10 ? '0' + sec.prev : sec.prev : '' %>"><span>前の物語へ</span></a></div>
            <div class="next <%= sec.next > -1 ? '' : 'is-disabled' %>"><a href="/prediaisland/<%= sec.next > -1 ? sec.next < 10 ? '0' + sec.next : sec.next : '' %>"><span>次の物語へ</span></a></div>
        </nav>
    </section>
</article>

<% include ../_site-footer %>
<% include ../_foot %>
