 <%
    var page = {
        title           : '',
        keywords        : '',
        description     : '',
        ogpTitle        : '',
        ogpDescription  : '',
        ogpImage        : '',
        ogpType         : 'website',
        class           : 'top',
        fileName        : 'top',
        pageDir        : '/',
        customHead      : '',
        customFoot      : '',
        thirdpartyScripts: ''
    };

%>
<% include _head %>
<% include _site-header %>
<% include _site-nav %>
<section class="top-hero">
    <h1><span>Welcome to Predia Island</span></h1>
    <div class="share-sns">
        <h2><span>SHARE</span></h2>
        <div class="twitter js-shareTW"><span></span></div>
        <div class="facebook js-shareFB"><span></span></div>
    </div>
    <div class="map-container"><div class="map"></div></div>
</section>
<section class="about js-inview">
    <p><span>エメラルド色の深い海、ディープシーにぽっかり浮かぶ</span></p>
    <p><span>小さな南の島「プレディア島」。</span></p>
    <p><span>この島では豊かな海の恵みと調和して、人々が健やかに美しく暮らしています。</span></p>
    <p><span>海からの優しい風や波音につつまれて、心も体も美しくなれる島、</span></p>
    <p><span>それが「プレディア島」です。</span></p>
</section>
<section class="characters">
    <h2><span>島のなかまたち</span></h2>
    <ul>
        <li class="premi">
            <div class="txt">
                <h3><span>プレミちゃん</span></h3>
                <p><span>プレディア島と海をこよなく愛す、島の案内人プレミちゃん。好奇心旺盛で快活な彼女は、毎日赤い自転車で島中を駆け回り、だれよりもプレディア島の素敵な秘密を知っています。さるのスパンキーやかもめのプーディ、くじらさんと話せるため、彼らと情報交換をして、時に島の人々に、自然の声を届けたりします。お年頃の彼女は、“きれいになること”に目覚めはじめた今日この頃。ただいま一生懸命、自分磨きに奮闘中。</span></p>
                <div class="img for-sp"></div>
                <p class="for-sp"><span></span></p>
            </div>
            <div class="img"></div>
        </li>
        <li class="spanky">
            <div class="txt">
                <h3><span>さるのスパンキー</span></h3>
                <div class="img for-sp"></div>
                <p><span>プレミの相棒。スパに浸かるのが大好きなモンキーなので、スパンキーと名付けられた。のんびり屋で、おくびょうなところがあり、いつもプレミの後ろにひっついている。</span></p>
            </div>
            <div class="img"></div>
        </li>
        <li class="poody">
            <div class="txt">
                <h3><span>かもめのプーディ</span></h3>
                <div class="img for-sp"></div>
                <p><span>素早く空を飛びわたり、空からの情報をプレミに伝えてくれる。賢くてユーモアのセンスにたけた仲間。</span></p>
            </div>
            <div class="img"></div>
        </li>
        <li class="kujira">
            <div class="txt">
                <h3><span>くじらさん</span></h3>
                <div class="img for-sp"></div>
                <p><span>ディープシーで100年以上生き続けている大先輩。時に優しく時に厳しく、大きな愛でプレミの成長を見守ってくれている。</span></p>
            </div>
            <div class="img"></div>
        </li>
    </ul>
</section>
<section class="areas">
    <h2><span>プレディア島のエリア紹介</span></h2>
    <div class="comingsoon">
        <p><span>COMING SOON これからプレディア島の秘密を毎月ご紹介していきます</span></p>
    </div>
</section>
<% include _site-footer %>
<% include _foot %>
