@charset "UTF-8";


@mixin fontset( $size: null, $height: null, $letter: null,$pixelRetio:1 ) {
    @if ($size != null) {
        // font-size: $size + px;
        font-size: ($size*0.1 / $pixelRetio) + rem;
    }
    @if ($height != null and $height != 0) {
        line-height: $height / $size / $pixelRetio;
    }
    @if ($letter != null) {
        letter-spacing: ($letter / $pixelRetio * 0.001) + em;
    }
}

/**
 * 単純にそのまま値使う。
 */
@mixin smartText( $size: null, $line: null, $character: null) {
    @if ($size != null) {
        font-size: $size;
    }
    @if ($line != null and $line != 0) {
        line-height: $line;
    }
    @if ($character != null) {
        letter-spacing: $character;
    }
}
