
@mixin position($position:static, $left:auto, $top:auto, $right:auto, $bottom:auto, $width:auto, $height:auto) {
    @if $position != static { position: $position; }
    @if $left != auto { left: $left; }
    @if $top != auto { top: $top; }
    @if $right != auto { right: $right; }
    @if $bottom != auto { bottom: $bottom; }
    @if $width != auto { width: $width; }
    @if $height != auto { height: $height; }
}
