/**
 * mixin
 */

$deviceWidth: 860px;

@mixin isPC(){
    @media only screen and (min-width: $deviceWidth) {
        @content;
    }
}

@mixin isPC2x(){
    $devicePixelRatio: 2;
    @media only screen and (min-width: $deviceWidth) and (-webkit-min-device-pixel-ratio: $devicePixelRatio),
            only screen and (min-width: $deviceWidth) and (min--moz-device-pixel-ratio: $devicePixelRatio),
            only screen and (min-width: $deviceWidth) and (-o-min-device-pixel-ratio: $devicePixelRatio),
            only screen and (min-width: $deviceWidth) and (min-device-pixel-ratio: $devicePixelRatio),
            only screen and (min-width: $deviceWidth) and (min-resolution: #{round($devicePixelRatio * 96)}dpi),
            only screen and (min-width: $deviceWidth) and (min-resolution: #{$devicePixelRatio}dppx)
    {
        @content;
    }
}


@mixin isMobile(){
    @media only screen and (max-width: $deviceWidth - 1)
    {
        @content;
    }
}


@mixin detectBg($file,$ext,$widthPC:null,$heightPC:null,$widthSP:null,$heightSP:null){
    $devicePixelRatio2: 2;
    $devicePixelRatio3: 3;
    $threshold_1x:1280px;

    background-image:url(#{$file}.#{$ext});
    @if ($widthPC != null && $heightPC != null) {
        background-size:#{$widthPC}px #{$heightPC}px;
    }


    // for PC 2x & 1x large width
    @media only screen and (min-width: $deviceWidth) and (-webkit-min-device-pixel-ratio: $devicePixelRatio2),
            only screen and (min-width: $deviceWidth) and (min--moz-device-pixel-ratio: $devicePixelRatio2),
            only screen and (min-width: $deviceWidth) and (-o-min-device-pixel-ratio: $devicePixelRatio2),
            only screen and (min-width: $deviceWidth) and (min-device-pixel-ratio: $devicePixelRatio2),
            only screen and (min-width: $deviceWidth) and (min-resolution: #{round($devicePixelRatio2 * 96)}dpi),
            only screen and (min-width: $deviceWidth) and (min-resolution: #{$devicePixelRatio2}dppx),
            only screen and (min-width: $threshold_1x)
    {
        background-image:url(#{$file}@2x.#{$ext});
        @if ($widthPC != null && $heightPC != null) {
            background-size:#{$widthPC}px #{$heightPC}px;
        }
    }


    // for SP ~2x
    @media only screen and (max-width: $deviceWidth - 1)
    {
        background-image:url(#{$file}-sp@2x.#{$ext});
        @if ($heightSP != null && $heightSP != null) {
            background-size:#{$heightSP}px #{$heightSP}px;
        }
    }

    // for SP 3x
    @media only screen and (max-width: $deviceWidth - 1)
            and (-webkit-device-pixel-ratio: $devicePixelRatio3)
    {
        background-image:url(#{$file}-sp@3x.#{$ext});
        @if ($heightSP != null && $heightSP != null) {
            background-size:#{$heightSP}px #{$heightSP}px;
        }
    }

}

