$imageUrlBase: '../img/';
$imageUrlBaseSp: '../img/';

@mixin v-middle {
	&:before {
		display:inline-block;
		height:100%;
		vertical-align:middle;
		content:"";
	}
}

@mixin justify() {
	text-align: justify;
	text-justify: inter-ideograph;
}

@mixin clr(){
	&:after {
	  content: "";
	  clear: both;
	  display: block;
	}
}

@mixin hide-text(){
	text-indent: -9999px;
	overflow: hidden;
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

@mixin bg( $url, $w, $h, $repeat:no-repeat, $halign:left, $valign:top ) {
	background:url($imageUrlBase+$url) $repeat $halign $valign;
	background-size:$w $h;
	display: block;
}

@mixin bgimg( $url, $w, $h, $repeat:no-repeat, $halign:left, $valign:top ) {
	background:url($imageUrlBase+$url) $repeat $halign $valign;
	width:$w;
	height:$h;
	background-size:$w $h;
	display: block;
	@include hide-text;
}

@mixin r-bg( $url, $w:auto, $h:auto, $repeat:no-repeat, $halign:left, $valign:top ) {
	background:url($imageUrlBaseSp+$url) $repeat $halign $valign;
    background-size:if( $w == auto, $w, $w*0.5 ) if( $h == auto, $h, $h*0.5 );
	display: block;
}

@mixin r-bgimg( $url, $w, $h, $repeat:no-repeat, $halign:left, $valign:top ) {
	background:url($imageUrlBaseSp+$url) $repeat $halign $valign;
	background-size:$w*0.5 $h*0.5;
	width:$w*0.5;
	height:$h*0.5;
	display: block;
	@include hide-text;
}

@mixin va() {
	display:block;
	content:" ";
}

@mixin borderbox() {
	box-sizing: border-box;
}

@mixin kern() {
	display: inline !important;
	margin-left:-.5em;
}
.kern { @include kern; }

@mixin absc() {
	top: 0;left:0;right: 0;bottom: 0;
	margin: auto;
	position: absolute;
}