 <%
    var currentPage = 2;
    var sec = sec_pages[currentPage - 1];

    var pageNumString = currentPage < 10 ? '0' + currentPage.toString() : currentPage.toString();

    var page = {
        title           : sec.title,
        keywords        : '',
        description     : '',
        ogpTitle        : '',
        ogpDescription  : '',
        ogpImage        : '',
        ogpType         : 'website',
        class           : 'sec',
        fileName        : 'sec',
        pageDir        : '/',
        customHead      : '',
        customFoot      : '',
        thirdpartyScripts: ''
    };
%>
<% include ../_head %>
<% include ../_site-header %>
<% include ../_site-nav %>

<article class="sec-article <%= 'sec-page' + currentPage %>">
    <section class="sec-main">
        <div class="kv"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_kv', ext:'jpg', alt:sec.title + 'のイメージ' , cls:''}); %></div>
        <section class="body">
            <div class="inner">
                <h1><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_title', ext:'png', alt:sec.title + ' ' + sec.subtitle , cls:''}); %></h1>
                <div class="illust"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_illust', ext:'png', alt:'プレミちゃん' , cls:''}); %></div>
                <div class="contents">
                    <p><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/sec' + pageNumString + '_txt', ext:'png', alt:sec.text , cls:''}); %></p>
                </div>
            </div>
        </section>
    </section>

    <section class="position-map">
        <div class="current-mark"></div>
        <div class="map"></div>
    </section>

    <section class="sec-nav">
        <h1><a href="/prediaisland/"><span>ようこそ、プレディア島へ</span></a></h1>
        <nav>
            <div class="prev <%= sec.prev > -1 ? '' : 'is-disabled' %>"><a href="/prediaisland/<%= sec.prev > -1 ? sec.prev < 10 ? '0' + sec.prev : sec.prev : '' %>"><span>前の物語へ</span></a></div>
            <div class="next <%= sec.next > -1 ? '' : 'is-disabled' %>"><a href="/prediaisland/<%= sec.next > -1 ? sec.next < 10 ? '0' + sec.next : sec.next : '' %>"><span>次の物語へ</span></a></div>
        </nav>
    </section>
</article>

<% include ../_site-footer %>
<% include ../_foot %>
