<% var _class = cls!='' ? 'class="' + cls + '"' : 'class="image"' %>
<picture <%- _class %>>
  <source media="(max-width: 750px)" srcset="<%= src %>@2x.<%= ext %> 2x">
  <source media="(min-width: 751px)" srcset="<%= src %>.<%= ext %> 1x">
  <img src="<%= src %>.<%= ext %>" alt="<%= alt %>">
</picture>
