<% var _class = cls!='' ? 'class="' + cls + '"' : 'class="image"' %>
<picture <%- _class %>>
  <source media="(min-width: 1280px)" srcset="<%= src %>@2x.<%= ext %> 2x" sizes="360px">
  <source media="(max-width: 861px)" srcset="<%= src %>-sp@2x.<%= ext %> 2x,<%= src %>-sp@3x.<%= ext %> 3x">
  <source media="(min-width: 860px)" srcset="<%= src %>.<%= ext %> 1x, <%= src %>@2x.<%= ext %> 2x">
  <img src="<%= src %>.<%= ext %>" alt="<%= alt %>">
</picture>
