<%
    var _class = cls!='' ? 'class="' + cls + '"' : '';
%>
<img src="<%- src %>.<%- ext %>" srcset="<%- src %>.<%- ext %> 1x, <%- src %>@2x.<%- ext %> 2x" alt="<%- alt %>" <%- _class %> <%= custom %>>