<%
    var _class = cls!='' ? 'class="' + cls + '"' : '';
%>
<img src="<%- src %>@2x.<%- ext %>" srcset="<%- src %>@2x.<%- ext %> 2x, <%- src %>@3x.<%- ext %> 3x" alt="<%- alt %>" <%- _class %> <%= custom %>>
