/**
 * sprite helper
 */
 @mixin sprite-width($sprite, $scale) {
   width: nth($sprite, 5) * $scale;
 }

 @mixin sprite-height($sprite, $scale) {
   height: nth($sprite, 6) * $scale;
 }

 @mixin sprite-position($sprite, $scale) {
   $sprite-offset-x: nth($sprite, 3) * $scale;
   $sprite-offset-y: nth($sprite, 4) * $scale;
   background-position: $sprite-offset-x  $sprite-offset-y;
 }

 @mixin sprite-image($sprite) {
   $sprite-image: nth($sprite, 9);
   background-image: url(#{$sprite-image});
 }

 @mixin sprite($sprite,$scale:1) {
   @include sprite-image($sprite);
   @include sprite-position($sprite,$scale);
   @include sprite-width($sprite,$scale);
   @include sprite-height($sprite,$scale);
 }

