@charset "UTF-8";

/**
 * main
 */

@import '_utils/_normalize';
@import "_config/__index";
@import "_extends/__index";
@import "_mixin/__index";
@import "_utils/__index";
@import '_utils/_yakuhanjp.min';
// @import "_modules/__index";
@import "_partials/__index";
@import "_partials/_page-lower";
@import '_modules/_button';
@import '_modules/_modal';
body {
    text-align: left;
    // opacity: 0;
    // @keyframes showBody {
    //     from {
    //         opacity: 0;
    //     }
    //     to {
    //         opacity: 1;
    //     }
    // }
    // animation: showBody 2s ease 0.5s forwards;
}

a {
    transition: opacity 0.35s ease;
    &:hover {
        opacity: 0.4;
    }
}

.site-wrapper {
    opacity: 0;
    transition: opacity 2s ease 0.5s;
}

.site-header {
    display: none;
}

.loader {
    position: fixed;
    top: -80px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 268px;
    height: 174px;
    z-index: 10;
    overflow: hidden;
    @keyframes loadingScale {
        from {
            transform: scale(0.9);
        }
        to {
            transform: scale(1);
        }
    }
    animation: loadingScale 5s linear 0s forwards;
    // transition: opacity 0.75s ease;
}

body.show {
    .site-wrapper {
        opacity: 1;
    }
    // .loading {
    //     opacity: 0;
    // }
    .top-hero {
        .map-container {
            .map {
                animation: mapScale 4s ease 0s forwards;
            }
        }
    }
}

@include max-screen(750px) {
    body {
        width: 100%;
        // overflow: hidden;
        padding-top: 0;
    }
    .site-wrapper {
        width: 100%;
        overflow: hidden;
    }
    .loader {
        zoom: 0.8;
    }
}