@charset "UTF-8";
@import "_config/__index";
@import "_extends/__index";
@import "_mixin/__index";
@import "_utils/__index";


/**
 * 
 */
@include min-screen(751px) {

    ///////////////////////////////////////////////////////////////////
    // 
    ///////////////////////////////////////////////////////////////////

    .loader.sec {
        width: 100%;
        height: 100%;
        // &:before {
        //     @include va;
        //     @include bgimg('pc/top/top_characters_spanky_img.png', 216px*0.75, 228px*0.75, no-repeat, center, center);
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: -40px;
        // }
        p {
            width: 100%;
            display: block;
            position: relative;
            // top: 60px;
        }
    }
    .loader.sec1 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec01_loader.png', 154px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec2 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec02_loader.png', 244px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec3 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec03_loader.png', 204px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec4 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec04_loader.png', 230px, 26px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec5 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec05_loader.png', 174px, 26px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec6 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec06_loader.png', 148px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec7 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec07_loader.png', 206px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec8 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec08_loader.png', 176px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec9 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec09_loader.png', 116px, 26px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec10 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec10_loader.png', 88px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec11 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec11_loader.png', 118px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec12 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec12_loader.png', 144px, 26px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }



    .loader.sec13 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec13_loader.png', 113px, 27px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec14 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec14_loader.png', 113px, 22px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec15 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec15_loader.png', 116px, 27px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec16 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec16_loader.png', 145px, 27px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec17 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec17_loader.png', 54px, 24px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec18 {
        &:before {
            
        }
        p {
            @include bgimg('pc/sec/sec18_loader.png', 116px, 19px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }

    ///////////////////////////////////////////////////////////////////
    // 
    ///////////////////////////////////////////////////////////////////

    .page-sec {
        
        .site-nav {
            h1 {
                display: block;
                width: 202px;
                height: 132px;
                position: absolute;
                top: 30px;
                left: 30px;
                a {
                    display: block;
                    @include bgimg('pc/common/logo_sec.png', 202px, 132px);
                }
            }
        }
    }

    .sec-article {
        position: relative;
        padding-bottom: 120px;
        .sec-main {
            padding-top: 30px;
            position: relative;
            .kv {
                z-index: 1;
                margin: 0 auto 60px;
                width: 100%;
                text-align: center;
                picture {
                    display: block;
                    
                    //////////////////////////////////////////////////////////////////////////////////
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    //////////////////////////////////////////////////////////////////////////////////
                }
            }
            .inner {
                width: 837px;
                margin: 0 auto;
                @include clr;
                position: relative;
                z-index: 2;
            }

            .body {
                position: relative;
                z-index: 2;
            }

            h1 {
                margin-bottom: 60px;
                // float: left;
            }

            .illust {
                // width: 400px;
                // display: inline-block;
                // float: right;
                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
            }

            .contents {
                position: relative;
                z-index: 2;
                padding-bottom: 40px;
                p {

                }
                span {

                }
                .recommend {
                    margin-top: 60px;
                    padding-left: 188px;//64px;//130px;
                    display: inline-block;
                    h3 {
                        @include bgimg('pc/sec/recommend_ttl.png', 92px, 24px);
                        display: inline-block;
                        margin-right: 20px;
                    }
                    ul {
                        display: inline-block;
                    }
                    li {
                        display: inline-block;
                    }
                }
            }
        }

        .position-map {
            width: 764px;
            margin: 0 auto 60px;
            position: relative;

            .current-mark {
                @include bgimg('pc/sec/pin.png', 59px, 82px);
                position: absolute;
            }

            .map {
                @include bgimg('pc/sec/sec_position_map.jpg', 764px, 572px);
                margin: 0 auto;
            }

        }

        .sec-nav {
            width: 964px;
            margin: 0 auto;
            position: relative;
            h1 {
                width: 194px;
                margin: 0 auto;
                a {
                    @include bgimg('pc/sec/sec_nav_logo.png', 194px, 126px);
                }
            }
            nav {
                .prev, .next {
                    position: absolute;
                    top: 60px;
                    span {
                        display: block;
                        position: absolute;
                        top: 9px;
                    }
                    &.is-disabled {
                        pointer-events: none;
                        opacity: 0.4;
                    }
                }
                .prev {
                    left: 0;
                    a {
                        @include bgimg('pc/sec/sec_nav_prev.png', 118px, 38px);
                    }
                    span {
                        left: 136px;
                    }
                }
                .next {
                    right: 0;
                    a {
                        @include bgimg('pc/sec/sec_nav_next.png', 118px, 38px);
                    }
                    span {
                        right: 136px;
                    }
                }
            }
        }
    }



















    ///////////////////////////////////////////////////////////////////
    // 
    ///////////////////////////////////////////////////////////////////

    .sec-page1 {
        .sec-main {
            .kv { 
                height: 764px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                // width: 332px;
                position: absolute;
                top: -84px;
                right: 0;
            }

            .contents {
                p {

                }
                span {

                }
                .recommend {

                }
            }
        }

        .position-map {
            
            .current-mark {
                top: 75px;
                right: 160px;
            }
        }

        .sec-nav {
            nav {
                .prev {

                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav02.png', 166px, 20px);
                    }
                }
            }
        }
    }

    .sec-page2 {
        .sec-main {
            .kv {
                height: 800px;
            }
        }
        .position-map {
            .current-mark {
                left: 353px;
                top: 133px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav01.png', 106px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav03.png', 142px, 20px);
                    }
                }
            }
        }
    }


    .sec-page3 {
        .sec-main {
            .kv { 
                margin-bottom: -60px;
                height: 860px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -60px;
                top: -90px;
            }



            //@added 20171225
            .kv02 {
                margin: 90px 0 60px;
                text-align: center;
            }
            .body.taraso {
                h1 {

                }
                .illust {
                    right: 0;
                    top: -60px;
                }
                .product-link {
                    text-align: center;
                    margin: 38px 0 30px;
                    a {
                        @include bgimg('pc/sec/sec03_tarasolink.png', 416px, 200px);
                        height: 100px;
                        display: inline-block;
                        &:hover {
                            opacity: 1;
                            background-position-y: -100px;
                        }
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                left: 368px;
                top: 108px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav02.png', 166px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav04.png', 160px, 18px);
                    }
                }
            }
        }
    }

    .sec-page4 {
        .sec-main {
            padding-top: 0;
            .kv { 
                margin-bottom: 10px;
                height: 764px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -70px;
            }
        }
        .position-map {
            .current-mark {
                left: 312px;
                top: 210px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav03.png', 142px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav05.png', 122px, 20px);
                    }
                }
            }
        }
    }

    .sec-page5 {
        .sec-main {
            .kv { 
                margin-bottom: 30px;
                height: 720px;
            }

            .body {
                .recommend {
                    padding-left: 55px;
                    h3 {
                        @include bgimg('pc/sec/recommend_ttl2.png', 92px, 68px);
                        display: inline-block;
                        position: relative;
                        top: 5px;
                    }
                    ul {
                        width: 300px;
                        margin-top: -6px;
                        li {
                            margin: 6px 5px 10px 0;
                        }
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                left: 394px;
                top: 4px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav04.png', 160px, 18px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav06.png', 106px, 20px);
                    }
                }
            }
        }
    }

    .sec-page6 {
        .sec-main {
            .kv { 
                margin-bottom: -15px;
                height: 860px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -80px;
            }
        }
        .position-map {
            .current-mark {
                left: 373px;
                top: 268px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav05.png', 122px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav07.png', 148px, 20px);
                    }
                }
            }
        }
    }
















/////////////////////////////////////////////////////////////////
// 05/16 update
/////////////////////////////////////////////////////////////////

    .sec-page7 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 744px;
            }

            .body {
                .recommend {
                    padding-left: 95px;
                }
            }

            h1 {

            }

            .illust {
                right: -0;
                top: -60px;
            }

            //@added 20180131
            .kv02 {
                margin: 60px 0 80px -20px;
                text-align: center;
            }
            .body.transparency {
                h1 {

                }
                .illust {
                    right: 0;
                    top: -60px;
                }
                .product-link {
                    text-align: center;
                    margin: 20px 0 40px;
                    a {
                        @include bgimg('pc/sec/sec07_productlink.png', 432px, 260px);
                        height: 130px;
                        display: inline-block;
                        transition: all 0s;
                        &:hover {
                            background-position-y: -130px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                left: 280px;
                top: 48px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav06.png', 106px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav08.png', 126px, 20px);
                    }
                }
            }
        }
    }

    .sec-page8 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 846px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -60px;
            }
        }
        .position-map {
            .current-mark {
                left: 92px;
                top: 206px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav07.png', 148px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav09.png', 82px, 20px);
                    }
                }
            }
        }
    }

    .sec-page9 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 770px;
            }

            .body {
                .recommend {
                    padding-left: 115px;
                }
            }

            h1 {

            }

            .illust {
                right: -0;
                top: -6v0px;
            }
        }
        .position-map {
            .current-mark {
                left: 114px;
                top: 246px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav08.png', 126px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav10.png', 62px, 20px);
                    }
                }
            }
        }
    }


    .sec-page10 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 760px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -60px;
            }
        }
        .position-map {
            .current-mark {
                left: 286px;
                top: 154px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav09.png', 82px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav11.png', 84px, 20px);
                    }
                }
            }
        }
    }

    .sec-page11 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 760px;
            }

            .body {
                .recommend {
                    padding-left: 13px;
                }
            }

            h1 {

            }

            .illust {
                right: -0;
                top: -70px;
            }
        }
        .position-map {
            .current-mark {
                left: 570px;
                top: 182px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav10.png', 62px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav12.png', 100px, 18px);
                    }
                }
            }
        }
    }

    .sec-page12 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 800px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -60px;
            }
        }
        .position-map {
            .current-mark {
                left: 528px;
                top: 242px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav11.png', 84px, 20px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav13.png', 82px, 19px);
                    }
                }
            }   
        }
    }








    /////////////////////////////////////////////////////////////////
    // 06/16 update
    /////////////////////////////////////////////////////////////////

    .sec-page13 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 744px;
                margin-top: 70px;
            }
            .contents {
                padding-bottom: 15px;
            }

            .body {
                .recommend {
                    padding-left: 0;
                    h3 {
                        @include bgimg('pc/sec/recommend_ttl2.png', 92px, 68px);
                        display: inline-block;
                        position: relative;
                        top: 5px;
                    }
                    ul {
                        width: 420px;
                        margin-top: -6px;
                        li {
                            margin: 6px 5px 10px 0;
                        }
                    }
                }
            }

            h1 {

            }

            .illust {
                right: -0;
                top: -60px;
            }
        }
        .position-map {
            .current-mark {
                left: 137px;
                top: 370px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav12.png', 100px, 18px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav14.png', 81px, 16px);
                    }
                }
            }
        }
    }

    .sec-page14 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 846px;
                margin: 120px 0 -170px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -60px;
            }

            //@added 20180408
            .kv02 {
                margin: 20px 0 -50px;
                text-align: center;
            }
            .body.collagenjulee {
                margin-bottom: -120px;
                .inner {
                    position: relative;
                    top: -180px
                }
                h1 {

                }
                .illust {
                    right: 50px;
                    top: -60px + 180px;
                    // display: none;
                }
                .product-link {
                    // text-align: center;
                    margin: 50px 0 30px;
                    a {
                        @include bgimg('pc/sec/sec14_productlink.png', 416px, 172px);
                        height: 100px;
                        display: inline-block;
                        &:hover {
                            opacity: 1;
                            background-position-y: -86px;
                        }
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                left: 282px;
                top: 286px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav13.png', 82px, 19px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav15.png', 83px, 19px);
                    }
                }
            }
        }
    }

    .sec-page15 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 770px;
                margin-top: 70px;
            }
            .contents {
                padding-bottom: 15px;
            }

            .body {
                .recommend {
                    padding-left: 0;//130px;
                    margin-bottom: -30px;
                    h3 {
                        @include bgimg('pc/sec/recommend_ttl2.png', 92px, 68px);
                        display: inline-block;
                        position: relative;
                        top: 5px;
                        vertical-align: top;
                    }
                    ul {
                        width: 500px;
                        margin-top: 0;
                        li {
                            margin: 6px 5px 10px 0;
                        }
                    }
                }
            }

            h1 {

            }

            .illust {
                right: -0;
                top: -40px;
            }
        }
        .position-map {
            .current-mark {
                left: 530px;
                top: 416px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav14.png', 81px, 16px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav16.png', 104px, 19px);
                    }
                }
            }
        }
    }


    .sec-page16 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 760px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -60px;
            }
        }
        .position-map {
            .current-mark {
                left: 298px;
                top: 103px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav15.png', 83px, 19px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav17.png', 39px, 17px);
                    }
                }
            }
        }
    }

    .sec-page17 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 760px;
                margin: 120px 0 -100px;
            }

            .body {
                .recommend {
                    padding-left: 13px;
                }
            }

            h1 {

            }

            .illust {
                right: -0;
                top: -70px;
            }


            //@added 20180322
            .kv02 {
                margin: -60px 0 20px;
                text-align: center;
            }
            .body.bodytwister {
                h1 {

                }
                .illust {
                    right: 0;
                    top: -60px;
                }
                .product-link {
                    text-align: center;
                    margin: 38px 0 30px;
                    a {
                        @include bgimg('pc/sec/sec17_productlink.png', 416px, 200px);
                        height: 100px;
                        display: inline-block;
                        &:hover {
                            opacity: 1;
                            background-position-y: -100px;
                        }
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                left: 414px;
                top: 142px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav16.png', 104px, 19px);
                    }
                }
                .next {
                    span {
                        @include bgimg('pc/sec/sec_nav18.png', 83px, 14px);
                    }
                }
            }
        }
    }

    .sec-page18 {
        .sec-main {
            .kv { 
                // margin-bottom: -15px;
                height: 800px;
                margin: 90px 0 -10px;
            }

            .body {

            }

            h1 {

            }

            .illust {
                right: -0;
                top: -10px;
            }
        }
        .position-map {
            .current-mark {
                left: 438px;
                top: 422px;
            }
        }

        .sec-nav {
            nav {
                .prev {
                    span {
                        @include bgimg('pc/sec/sec_nav17.png', 39px, 17px);
                    }
                }
                .next {

                }
            }
        }
    }
}







































/**
 * 
 */
@include max-screen(750px) {

    ///////////////////////////////////////////////////////////////////
    // 
    ///////////////////////////////////////////////////////////////////

    body {
        
    }

    .loader.sec {
        width: 100%;
        height: 100%;
        zoom: 1;
        p {
            width: 100%;
            display: block;
            position: relative;
            // top: 60px;
        }
        @keyframes loadingScale {
            from {
                transform: scale(1.0);
            }
            to {
                transform: scale(1.2);
            }
        }
        animation: loadingScale 5s linear 0s forwards;
    }
    .loader.sec1 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec01_loader.png', 198px, 36px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec2 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec02_loader.png', 330px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec3 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec03_loader.png', 278px, 36px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec4 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec04_loader.png', 304px, 32px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec5 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec05_loader.png', 234px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec6 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec06_loader.png', 198px, 36px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec7 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec07_loader.png', 276px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec8 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec08_loader.png', 236px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec9 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec09_loader.png', 154px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec10 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec10_loader.png', 114px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec11 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec11_loader.png', 158px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec12 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec12_loader.png', 192px, 32px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }










    .loader.sec13 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec13_loader.png', 152px, 32px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec14 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec14_loader.png', 152px, 28px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec15 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec15_loader.png', 156px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec16 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec16_loader.png', 196px, 34px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec17 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec17_loader.png', 72px, 32px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }
    .loader.sec18 {
        &:before {
            
        }
        p {
            @include r-bgimg('sp/sec/sec18_loader.png', 156px, 26px, no-repeat, center, center);
            width: 100%;
            height: 100%;
        }
    }

    ///////////////////////////////////////////////////////////////////
    // 
    ///////////////////////////////////////////////////////////////////

    .site-header {
        display: block;
        margin-bottom: -30px;
        position: relative;
        z-index: 5;
        h1 {
            // position: relative;
            // top: 8px;
            // left: 10px;
            display: block;
            padding: 8px 10px;
            a {
                display: inline-block;
            }
            span {
                @include r-bgimg('sp/common/nav-logo.png', 198px, 128px);
                display: block;
            }
        }
    }

    ///////////////////////////////////////////////////////////////////
    // 
    ///////////////////////////////////////////////////////////////////

    .page-sec {
        .site-nav {
            h1 {
                display: block;
            }
        }
    }

    .sec-article {
        .sec-main {
            text-align: center;
            // padding-top: 60px;
            .kv {
                margin-bottom: 30px;
                picture, img {
                    width: 100%;
                }
            }
            .inner {

            }

            .body {

            }

            h1 {

            }

            .illust {
                margin: 30px auto;
            }

            .contents {

                p {

                }
                span {

                }
                .recommend {

                    h3 {
                        @include r-bgimg('sp/sec/recommend_ttl.png', 206px, 140px);
                        margin: 30px auto;
                    }
                    ul {

                    }
                    li {
                        margin-top: 15px;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .position-map {
            margin: 15px auto;
            position: relative;
            .current-mark {
                @include r-bgimg('sp/sec/pin.png', 60px, 82px);
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
            }

            .map {
                @include r-bgimg('sp/sec/sec_position_map.jpg', 628px, 474px);
                margin: 0 auto;
            }

        }

        .sec-nav {

            h1 {
                width: 272px*0.5;
                margin: 0 auto 30px;
                a {
                    @include r-bgimg('sp/sec/sec_nav_logo.png', 272px, 176px);
                }
            }
            nav {
                box-sizing: border-box;
                margin: 0 15px;
                position: relative;
                height: 100px;
                &:before {
                    @include va;
                    @include r-bgimg('sp/sec/sec_nav_line.png', 2px, 76px);
                    margin: 0 auto;
                }
                .prev, .next {
                    position: absolute;
                    top: 6px;
                    span {
                        display: none;
                    }
                    &.is-disabled {
                        pointer-events: none;
                        opacity: 0.4;
                    }
                }
                .prev {
                    left: 0;
                    a {
                        @include r-bgimg('sp/sec/sec_nav_prev.png', 182px, 48px);
                    }
                    span {

                    }
                }
                .next {
                    right: 0;
                    a {
                        @include r-bgimg('sp/sec/sec_nav_next.png', 176px, 48px);
                    }
                    span {

                    }
                }
            }
        }
    }



















    ///////////////////////////////////////////////////////////////////
    // 04/16 update
    ///////////////////////////////////////////////////////////////////

    .sec-page1 {
        .position-map {
            .current-mark {
                top: -140px;
                left: 154px;
            }
        }
    }
    .sec-page2 {
        .position-map {
            .current-mark {
                top: -95px;
                left: -4px;
            }
        }
    }
    .sec-page3 {
        .sec-main {
            h1 {
                margin-bottom: -20px;
            }
            .kv {
                margin-bottom: 30px;
            }

            //@added 20171225
            .kv02 {
                margin: 60px 0 30px;
                text-align: center;

                    picture, img {
                        width: 100%;
                    }
            }
            .body.taraso {
                h1 {

                }
                .illust {
                    position: relative;
                    right: -20px;
                    top: 0;
                }
                .product-link {
                    text-align: center;
                    margin: 50px 0 30px;
                    a {
                        @include r-bgimg('sp/sec/sec03_tarasolink.png', 542px, 144px);
                        display: inline-block;
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                top: -114px;
                left: 8px;
            }
        }
    }
    .sec-page4 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: 20px;
            }
        }
        .position-map {
            
            .current-mark {
                top: -32px;
                left: -40px;
            }
        }
    }
    .sec-page5 {
        .position-map {
            margin-top: 20px;
            .current-mark {
                top: -204px;
                left: 30px;
            }
        }
    }
    .sec-page6 {
        .sec-main {
            h1 {
                margin-bottom: 0;
            }
            .kv {
                margin-bottom: 30px;
            }
        }
        .position-map {
            .current-mark {
                top: 13px;
                left: 10px;
            }
        }
    }




    ///////////////////////////////////////////////////////////////////
    // 05/16 update
    ///////////////////////////////////////////////////////////////////

    .sec-page7 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: 5px;
            }
            .illust {
                position: relative;
                left: -8px;
            }

            //@added 20180131
            .kv02 {
                margin: 60px 15px 30px 0;
                text-align: center;

                    picture, img {
                        width: 100%;
                    }
            }
            .body.transparency {
                h1 {

                }
                .illust {
                    position: relative;
                    right: -20px;
                    top: 0;
                    left: auto;
                }
                .product-link {
                    text-align: center;
                    margin: 30px 0 30px;
                    a {
                        @include r-bgimg('sp/sec/sec07_productlink.png', 542px, 196px);
                        display: inline-block;
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                top: -163px;
                left: -66px;
            }
        }
    }
    .sec-page8 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .illust {
                position: relative;
                left: -10px;
            }
        }
        .position-map {
            .current-mark {
                top: -35px;
                left: -220px;
            }
        }
    }
    .sec-page9 {
        .sec-main {
            h1 {
                margin-bottom: -20px;
            }
            .kv {
                margin-bottom: 10px;
            }
            .illust {
                position: relative;
                left: -10px;
            }
        }
        .position-map {
            .current-mark {
                top: -4px;
                left: -200px;
            }
        }
    }
    .sec-page10 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: 0;
            }
            .illust {
                position: relative;
                left: 12px;
            }
        }
        .position-map {
            
            .current-mark {
                top: -82px;
                left: -57px;
            }
        }
    }
    .sec-page11 {
        .sec-main {
            .kv {
                margin-bottom: -20px;
            }
            .illust {
                position: relative;
                left: -10px;
            }
        }
        .position-map {
            margin-top: 20px;
            .current-mark {
                top: -56px;
                left: 170px;
            }
        }
    }
    .sec-page12 {
        .sec-main {
            h1 {
                margin-bottom: -15px;
            }
            .kv {
                margin-bottom: 30px;
            }
            .illust {
                position: relative;
                left: -10px;
            }
        }
        .position-map {
            .current-mark {
                top: -11px;
                left: 146px;
            }
        }
    }









    ///////////////////////////////////////////////////////////////////
    // 06/16 update
    ///////////////////////////////////////////////////////////////////

    .sec-page13 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                   margin: 10px 0 -8px;
            }
            .illust {
                position: relative;
                left: -8px;
            }
        }
        .position-map {
            .current-mark {
                top: 97px;
                left: -176px;
            }
        }
    }
    .sec-page14 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: -10px;
                margin-top: -50px;
            }
            .illust {
                position: relative;
                left: -8px;
            }

            //@added 20180408
            .kv02 {
                margin: 40px 0 50px;
                text-align: center;

                    picture, img {
                        width: 100%;
                    }
            }
            .body.collagenjulee {
                h1 {
                    margin-bottom: 50px;
                }
                .illust {
                    display: none;
                }
                .product-link {
                    text-align: center;
                    margin: 30px 0 30px;
                    a {
                        @include r-bgimg('sp/sec/sec14_productlink.png', 542px, 112px);
                        display: inline-block;
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                top: 14px;
                left: -60px;
            }
        }
    }
    .sec-page15 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: 5px;
            }
            .illust {
                position: relative;
                left: -8px;
            }
        }
        .position-map {
            .current-mark {
                top: 144px;
                left: 144px;
            }
        }
    }
    .sec-page16 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: 5px;
            }
            .illust {
                position: relative;
                left: -8px;
            }
        }
        .position-map {
            .current-mark {
                top: -124px;
                left: -53px;
            }
        }
    }
    .sec-page17 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: -52px;
                margin-top: -50px;
            }
            .illust {
                position: relative;
                left: -8px;
            }

            //@added 20180322
            .kv02 {
                margin: 0 0 10px;
                text-align: center;

                    picture, img {
                        width: 100%;
                    }
            }
            .body.bodytwister {
                h1 {

                }
                .illust {
                    position: relative;
                    right: -20px;
                    top: 0;
                    left: auto;
                }
                .product-link {
                    text-align: center;
                    margin: 50px 0 30px;
                    a {
                        @include r-bgimg('sp/sec/sec17_productlink.png', 542px, 144px);
                        display: inline-block;
                    }
                }
            }
        }
        .position-map {
            .current-mark {
                top: -104px;
                left: 50px;
            }
        }
    }
    .sec-page18 {
        .sec-main {
            h1 {
                margin-bottom: -10px;
            }
            .kv {
                margin-bottom: 5px;
            }
            .illust {
                position: relative;
                left: -8px;
            }
        }
        .position-map {
            .current-mark {
                top: 137px;
                left: 67px;
            }
        }
    }
}