@charset "UTF-8";
@import "_config/__index";
@import "_extends/__index";
@import "_mixin/__index";
@import "_utils/__index";

@include min-screen(751px) {
    
    .top-hero {
        position: relative;
        height: 100%;
        height: 100vh;
        margin-bottom: 60px;
        h1 {
            @include bgimg('pc/common/top_logo.png', 322px, 208px);
            position: relative;
            z-index: 2;
            top: 30px;
            left: 30px;
        }
        .map-container {
            width: 98%;
            height: 98%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: 1;
            .map {
                @include bgimg('pc/common/map.jpg', 2256px, 1680px, no-repeat, center, center);
                width: 100%;
                height: 100%;
                z-index: 1;
                background-size: contain;
                @keyframes mapScale {
                    from {
                        transform: scale(1.02);
                        // filter: blur(4px);
                    }
                    to {
                        transform: scale(1);
                        // filter: blur(0);
                    }
                }
            }
        }
        .updated {
            position: absolute;
            left: 30px;
            bottom: 30px;
            z-index: 3;
            z-index: 2;
            h2 {
                @include bgimg('pc/top/updated_frag.png', 42px, 60px);
            }
            p {
                position: absolute;
                bottom: 6px;
                left: 30px;
            }
        }
        .share-sns {
            font-size: 0;
            position: absolute;
            height: 30px;
            right: 30px;
            bottom: 30px;
            z-index: 2;
            h2 {
                @include bgimg('pc/common/share_ttl.png', 62px, 30px);
                margin-right: 15px;
            }
            .twitter {
                span {
                    @include bgimg('pc/common/share_tw.png', 30px, 30px);
                }
                margin-right: 15px;
            }
            .facebook {
                span {
                    @include bgimg('pc/common/share_fb.png', 30px, 30px);
                }
            }
            h2,
            .twitter,
            .facebook {
                display: inline-block;
            }
            .twitter,
            .facebook {
                span {}
                cursor: pointer;
                transition: opacity 0.35s ease 0s;
                &:hover {
                    opacity: 0.4;
                }
            }
        }

        //@added 2017.12.13
        .notificate {
            position: absolute;
            top: 0;
            right: -100px;
            bottom: 0;
            margin: auto 0;
            z-index: 100;
            z-index: 2;
            @include bgimg('pc/top/top_balloon_201712.png', 400px, 150px);
        }
        .link2tarasomask {
            @include bgimg('pc/top/top_tarasomask_bnr_201712.png', 436px, 80px);
            width: 436px;
            height: 40px;
            position: absolute;
            right: 2px;
            bottom: 92px;
            z-index: 2;
            &:hover {
                background-position-y: -40px;
            }
        }


        //@added 2018.03.22
        .notificate {
            position: absolute;
            top: 0;
            right: -100px;
            bottom: 0;
            margin: auto 0;
            z-index: 100;
            z-index: 2;
            @include bgimg('pc/top/top_balloon_201803.png', 402px, 150px);
        }
        .link2tarasomask {
            @include bgimg('pc/top/top_bnr_201803.png', 436px, 80px);
            width: 436px;
            height: 40px;
            position: absolute;
            right: 2px;
            bottom: 92px;
            z-index: 2;
            &:hover {
                background-position-y: -40px;
            }
        }

        //@added 2018.04.08
        .notificate {
            position: absolute;
            top: 0;
            right: -100px;
            bottom: 0;
            margin: auto 0;
            z-index: 100;
            z-index: 2;
            @include bgimg('pc/top/top_balloon_201804.png', 402px, 150px);
        }
        .link2-cp-detail {
            @include bgimg('pc/top/top_bnr_201804.png', 435px, 80px);
            width: 436px;
            height: 40px;
            position: absolute;
            right: 2px;
            bottom: 92px;
            z-index: 2;
            &:hover {
                background-position-y: -40px;
            }
        }
    }

    section {}

    .about {
        margin-bottom: 120px;
        &:before {
            @include va;
            // @include seperater;
            @include bgimg('pc/top/top_about_sep_part.png', 296px, 65px);
            margin: 0 auto;
            margin-bottom: 120px;
        }
        &:after {
            @include va;
            @include seperater;
            margin-top: 120px;
        }
        p {
            margin: 0 auto 36px;
            opacity: 1; //0;
            // transform: scale(0.95);
            //    filter: blur(2px);
            &:nth-child(1) {
                @include bgimg('pc/top/top_about_copy01.png', 566px, 20px);
            }
            &:nth-child(2) {
                @include bgimg('pc/top/top_about_copy02.png', 316px, 20px);
            }
            &:nth-child(3) {
                @include bgimg('pc/top/top_about_copy03.png', 798px, 20px);
            }
            &:nth-child(4) {
                @include bgimg('pc/top/top_about_copy04.png', 662px, 20px);
            }
            &:nth-child(5) {
                @include bgimg('pc/top/top_about_copy05.png', 292px, 20px);
                margin-bottom: 0;
            }
        }
        // &.inview {
        //     p {
        //         opacity: 1;
        //         // filter: blur(0);
        //         transform: scale(1);
        //         transition: opacity 4s ease, transform 2s ease;
        //         &:nth-child(1) {
        //             transition-delay: 0.15s*1;
        //         }
        //         &:nth-child(2) {
        //             transition-delay: 0.15s*2;
        //         }
        //         &:nth-child(3) {
        //             transition-delay: 0.15s*3;
        //         }
        //         &:nth-child(4) {
        //             transition-delay: 0.15s*4;
        //         }
        //         &:nth-child(5) {
        //             transition-delay: 0.15s*5;
        //         }
        //     }
        // }
    }

    .characters {
        margin-bottom: 120px;
        
        h2 {
            @include bgimg('pc/top/top_characters_ttl.png', 334px, 28px);
            margin: 0 auto;
        }
        ul {
            width: 964px;
            margin: 0 auto;
            padding: 120px 0;
        }
        li {
            @include clr;
            position: relative;
            .txt {
                
                width: 550px;
                float: right;
                position: relative;
                z-index: 2;
                @include clr;
            }
            h3 {
                margin-bottom: 60px;
            }
            .img {
                float: left;
                position: relative;
                z-index: 1;
                &.for-sp {
                    display: none;
                }
            }
        }
        .premi {
            height: 480px;
            h3 {
                @include bgimg('pc/top/top_characters_premi_name.png', 156px, 24px);
            }
            .txt {

            }
            p {
                @include bgimg('pc/top/top_characters_premi_copy.png', 558px, 282px);
                &.for-sp {
                    display: none;
                }
            }
            .img {
                @include bgimg('pc/top/top_characters_premi_img.png', 266px, 506px, no-repeat, center, top);
                top: -70px;

            }
        }
        .spanky {
            width: 850px;
            padding-left: 60px;
            margin-bottom: 86px;
            height: 225px;
            h3 {
                float: right;
                @include bgimg('pc/top/top_characters_spanky_name.png', 216px, 22px);
            }
            .txt {
                float: left;
                width: 578px;
                position: absolute;
                left: 60px;
                
            }
            p {
                @include bgimg('pc/top/top_characters_spanky_copy.png', 578px, 114px);
            }
            .img {
                // float: right;
                float: none;
                @include bgimg('pc/top/top_characters_spanky_img.png', 216px, 228px, no-repeat, center, top);
                position: absolute;
                right: -20px;
                top: 0px;
            }
        }
        .poody {
            width: 890px;
            margin-bottom: 120px;
            h3 {
                @include bgimg('pc/top/top_characters_poody_name.png', 212px, 24px);
            }
            .txt {
                width: 506px;
            }
            p {
                @include bgimg('pc/top/top_characters_poody_copy.png', 506px, 50px);
            }
            .img {
                @include bgimg('pc/top/top_characters_poody_img.png', 200px, 246px, no-repeat, center, top);
                width: 400px;
                top: -40px;
                position: absolute;
                left: 0;
            }
        }
        .kujira {
            position: relative;
            h3 {
                float: right;
                @include bgimg('pc/top/top_characters_kujira_name.png', 130px, 24px);
            }
            .txt {
                float: left;
                width: 572px;
            }
            p {
                @include bgimg('pc/top/top_characters_kujira_copy.png', 572px, 50px);
            }
            .img {
                @include bgimg('pc/top/top_characters_kujira_img.png', 402px, 290px, no-repeat, center, top);
                // top: -60px;
                // float: right;
                position: absolute;
                right: -45px;
                top: -60px;
            }
        }
        &:after {
            @include va;
            @include seperater;
        }
    }

    .areas {
        margin-bottom: 90px;//120px;
        h2 {
            @include bgimg('pc/top/top_areas_ttl.png', 466px, 26px);
            margin: 0 auto 120px;
        }
        .comingsoon {
            height: 212px;
            background-color: #f5f5f5;
            position: relative;
            p {
                @include bgimg('pc/top/top_areas_comingsoon.png', 508px, 90px);
                @include absc;
            }
        }

        .area-index {
            width: 835px + 41px;
            margin: 0 auto 30px;
            overflow: hidden;
            ul {
                font-size: 0;
            }
            li {
                width: 397px;
                margin: 0 20px 30px;
                
                display: inline-block;
                font-size: 1rem;
                @include hide-text;
                a,img {
                    display: block;
                }
                a {
                    // border-bottom: 1px solid #514a47;
                    @include bg('pc/common/area_index_line.png', 408px, 8px, no-repeat, left, bottom);
                    position: relative;
                    padding-bottom: 17px;

                    &:after {
                        @include va;
                        @include bgimg('pc/common/arw_l.png', 24px, 24px);
                        position: absolute;
                        bottom: 20px;
                        right: 0;
                    }
                }


                &.new {
                    a {
                        &:after {
                            @include bgimg('pc/common/arw_l_new.png', 64px, 24px);
                        }
                    }
                }
            }
        }
    }
}





















@include max-screen(750px) {
    .top-hero {
        position: relative;
        height: 100%;
        height: 100vh;
        margin-bottom: 20px;
        h1 {
            @include r-bgimg('sp/common/logo.png', 390px, 252px);
            position: relative;
            z-index: 2;
            top: 30px;
            left: auto;
            margin: 0 auto;
        }
        .map-container {
            width: 90%;
            height: 90%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            .map {
                @include r-bgimg('sp/common/map.jpg', 640px, 516px, no-repeat, center, center);
                width: 100%;
                height: 100%;
                z-index: 1;
                background-size: contain;
                position: relative;
                top: 0;
                @keyframes mapScale {
                    from {
                        transform: scale(1.02);
                        // filter: blur(4px);
                    }
                    to {
                        transform: scale(1);
                        // filter: blur(0);
                    }
                }
            }
        }
        .updated {
            position: absolute;
            left: 10px;
            bottom: 30px;
            z-index: 3;
            h2 {
                @include r-bgimg('sp/top/updated_frag.png', 60px, 84px);
            }
            p {
                position: absolute;
                bottom: 4px;
                left: 20px;
            }
        }
        .share-sns {
            font-size: 0;
            position: absolute;
            height: 20px;
            right: 0;
            left: 0;
            bottom: 30px;
            margin: 0 0 0 auto;
            width: 118px;
            z-index: 2;
            h2 {
                @include r-bgimg('sp/common/share_ttl.png', 98px, 40px);
                display: inline-block;
                margin-right: 8px;
                vertical-align: top;
            }
            .twitter {
                span {
                    @include r-bgimg('sp/common/share_tw.png', 38px, 40px);
                    display: inline-block;
                }
                margin-right: 8px;
                // &:after {
                //     @include va;
                //     @include r-bgimg('sp/common/share_line.png', 2px, 40px);
                //     display: inline-block;
                //     margin: 0 8px;
                // }
            }
            .facebook {
                span {
                    @include r-bgimg('sp/common/share_fb.png', 38px, 40px);
                }
                margin-right: 0;
            }
            .twitter,
            .facebook {
                display: inline-block;
                cursor: pointer;
                transition: opacity 0.35s ease 0s;
                &:hover {
                    opacity: 0.4;
                }
            }
        }
        
        //@added 2017.12.13
        .notificate {
            position: absolute;
            @include r-bgimg('sp/top/top_balloon_201712.png', 416px, 154px);
            z-index: 100;
            position: absolute;
            top: 0;
            bottom: -50px;
            margin: auto 0;
            z-index: 3;
        }
        .link2tarasomask {
            @include r-bgimg('sp/top/top_tarasomask_bnr_201712.png', 606px, 122px);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 92px;
            margin: 0 auto;
            z-index: 2;
        }


        //@added 2018.03.22
        .notificate {
            position: absolute;
            @include r-bgimg('sp/top/top_balloon_201803.png', 416px, 152px);
            z-index: 100;
            position: absolute;
            top: 0;
            bottom: -50px;
            margin: auto 0;
            z-index: 3;
        }
        .link2tarasomask {
            @include r-bgimg('sp/top/top_bnr_201803.png', 606px, 122px);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 92px;
            margin: 0 auto;
            z-index: 2;
        }


        //@added 2018.04.08
        .notificate {
            position: absolute;
            @include r-bgimg('sp/top/top_balloon_201804.png', 416px, 152px);
            z-index: 100;
            position: absolute;
            top: 0;
            bottom: -50px;
            margin: auto 0;
            z-index: 3;
        }
        .link2-cp-detail {
            @include r-bgimg('sp/top/top_bnr_201804.png', 606px, 122px);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 92px;
            margin: 0 auto;
            z-index: 2;
        }
    }
    section {}
    .about {
        margin-bottom: 60px;
        &:before {
            @include va;
            display: block;
            @include r-bgimg('sp/top/top_about_sep_part.png', 278px, 66px);
            margin: 0 auto;
            margin-bottom: 60px;
        }
        &:after {
            @include va;
            display: block;
            @include r-bgimg('sp/common/wave_sep.png', 176px, 28px);
            margin: 0 auto;
            margin-top: 60px;
        }
        p {
            margin: 0 auto 32px;
            //    filter: blur(2px);
            &:nth-child(1) {
                @include r-bgimg('sp/top/top_about_copy01.png', 378px, 66px);
            }
            &:nth-child(2) {
                @include r-bgimg('sp/top/top_about_copy02.png', 392px, 24px);
            }
            &:nth-child(3) {
                @include r-bgimg('sp/top/top_about_copy03.png', 472px, 66px);
            }
            &:nth-child(4) {
                @include r-bgimg('sp/top/top_about_copy04.png', 472px, 66px);
            }
            &:nth-child(5) {
                @include r-bgimg('sp/top/top_about_copy05.png', 364px, 24px);
                margin-bottom: 0;
            }
        }
    }
    .characters {
        margin-bottom: 60px;
        h2 {
            @include r-bgimg('sp/top/top_characters_ttl.png', 364px, 32px);
            margin: 0 auto 60px;
        }
        ul {
            width: auto;
            margin: 0 auto;
            padding-top: 0;
        }
        li {
            @include clr;
            margin-bottom: 60px;
            .txt {
                width: auto;
                float: none!important;
                margin-bottom: 30px;
                p {
                    margin: 0 auto;
                    float: none;
                    position: relative;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            h3 {
                margin: 0 auto 10px;
                float: none;
            }
            .img {
                float: none;
                position: relative;
                top: 0;
                width: auto!important;
                margin: 0 auto 10px;
                display: none!important;
                &.for-sp {
                    display: block!important;
                }
            }
        }
        .premi {
            h3 {
                @include r-bgimg('sp/top/top_characters_premi_name.png', 180px, 30px);
                margin-bottom: 30px;
            }
            p {
                @include r-bgimg('sp/top/top_characters_premi_copy01.png', 536px, 214px);
                margin-bottom: 15px!important;
                &.for-sp {
                    @include r-bgimg('sp/top/top_characters_premi_copy02.png', 492px, 294px);
                    margin-bottom: 0;
                }
            }
            .img {
                @include r-bgimg('sp/top/top_characters_premi_img.png', 336px, 638px, no-repeat, center, top);
                top: 0;
            }
            &:after {
                @include va;
                @include r-bgimg('sp/top/top_characters_frends.png', 254px, 140px);
                margin: 50px auto 0;
            }
        }
        .spanky {
            h3 {
                @include r-bgimg('sp/top/top_characters_spanky_name.png', 240px, 28px);
            }
            p {
                @include r-bgimg('sp/top/top_characters_spanky_copy.png', 424px, 182px);
            }
            .img {
                @include r-bgimg('sp/top/top_characters_spanky_img.png', 236px, 250px, no-repeat, center, top);
            }
        }
        .poody {
            h3 {
                @include r-bgimg('sp/top/top_characters_poody_name.png', 242px, 30px);
            }
            p {
                @include r-bgimg('sp/top/top_characters_poody_copy.png', 380px, 102px);
            }
            .img {
                @include r-bgimg('sp/top/top_characters_poody_img.png', 200px, 246px, no-repeat, center, top);
            }
        }
        .kujira {
            margin-bottom: 60px;
            h3 {
                @include r-bgimg('sp/top/top_characters_kujira_name.png', 142px, 28px);
            }
            p {
                @include r-bgimg('sp/top/top_characters_kujira_copy.png', 498px, 102px);
            }
            .img {
                @include r-bgimg('sp/top/top_characters_kujira_img.png', 402px, 290px, no-repeat, center, top);
                top: 0;
            }
        }
        &:after {
            @include va;
            display: block;
            @include r-bgimg('sp/common/wave_sep.png', 176px, 28px);
            margin: 0 auto;
        }
    }
    .areas {
        margin-bottom: 30px;//60px;
        h2 {
            @include r-bgimg('sp/top/top_areas_ttl.png', 550px, 32px);
            margin: 0 auto 60px;
        }
        .comingsoon {
            height: 130px;
            background-color: #f5f5f5;
            position: relative;
            p {
                @include r-bgimg('sp/top/top_areas_comingsoon.png', 392px, 136px);
                @include absc;
            }
        }

        .area-index {
            margin: 0 15px 30px;
            ul {
                font-size: 0;
            }
            li {
                position: relative;
                display: inline-block;
                width: 49.9%;//50%;
                margin-bottom: 8px;

                a {
                    position: relative;
                    display: block;
                    width: 95%;
                    padding: 12px 0 16px;
                    // border-bottom: 1px dotted #514a47;
                    @include r-bg('sp/common/area_index_line.png', 586px, 10px, no-repeat, left, bottom);
                    background-size: contain;
                    &:after {
                        @include va;
                        @include r-bgimg('sp/common/arw_s.png', 26px, 26px);
                        position: absolute;
                        right: 0;
                        bottom: 15px;
                    }
                }
                &:last-child {
                    a {
                        border: none;
                    }
                }

                &:nth-child(even) {
                    a {
                        padding-left: 5%;
                    }
                }

                &.new {
                    a {
                        &:after {
                            @include r-bgimg('sp/common/arw_l_new.png', 44px, 44px);
                            bottom: 15px;
                            right: -5px;
                        }
                    }
                }
            }
        }
    }
}