@charset "UTF-8";

$baseFontSize:1.2em;

$secondaryFonts: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', sans-serif;

$baseFontFamily: YakuHanJP, 'notoM', $secondaryFonts;
$yugo:      YakuHanJP, 'myYuGothicM', $secondaryFonts;
$yugoB:     YakuHanJP, 'myYuGothicB', $secondaryFonts;
$bebasB:    'bebasB', sans-serif;
$notoM:     YakuHanJP, 'notoM', $secondaryFonts;
$notoB:     YakuHanJP, 'notoB', $secondaryFonts;
$robot:     'Roboto Condensed', sans-serif;
