@charset "UTF-8";
@import "_config/__index";
@import "_extends/__index";
@import "_mixin/__index";
@import "_utils/__index";
.top-hero {
    position: relative;
    height: 100%;
    height: 100vh;
    margin-bottom: 60px;
    h1 {
        @include bgimg('pc/common/logo.png', 268px, 174px);
        position: relative;
        z-index: 2;
        top: 30px;
        left: 30px;
    }
    .map-container {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        .map {
            @include bgimg('pc/common/map.jpg', 2255px, 1629px, no-repeat, center, center);
            width: 100%;
            height: 100%;
            z-index: 1;
            background-size: contain;
            @keyframes mapScale {
                from {
                    transform: scale(1.02);
                    // filter: blur(4px);
                }
                to {
                    transform: scale(1);
                    // filter: blur(0);
                }
            }
        }
    }
    .share-sns {
        font-size: 0;
        position: absolute;
        height: 30px;
        right: 30px;
        bottom: 30px;
        z-index: 2;
        h2 {
            @include bgimg('pc/common/share_ttl.png', 62px, 30px);
            margin-right: 15px;
        }
        .twitter {
            span {
                @include bgimg('pc/common/share_tw.png', 30px, 30px);
            }
            margin-right: 15px;
        }
        .facebook {
            span {
                @include bgimg('pc/common/share_fb.png', 30px, 30px);
            }
        }
        h2,
        .twitter,
        .facebook {
            display: inline-block;
        }
        .twitter,
        .facebook {
            span {}
            cursor: pointer;
            transition: opacity 0.35s ease 0s;
            &:hover {
                opacity: 0.4;
            }
        }
    }
}

section {}

.about {
    margin-bottom: 120px;
    &:before {
        @include va;
        @extend %seperater;
        margin-bottom: 120px;
    }
    &:after {
        @include va;
        @extend %seperater;
        margin-top: 120px;
    }
    p {
        margin: 0 auto 36px;
        opacity: 1; //0;
        // transform: scale(0.95);
        //    filter: blur(2px);
        &:nth-child(1) {
            @include bgimg('pc/top/top_about_copy01.png', 508px, 18px);
        }
        &:nth-child(2) {
            @include bgimg('pc/top/top_about_copy02.png', 284px, 18px);
        }
        &:nth-child(3) {
            @include bgimg('pc/top/top_about_copy03.png', 718px, 18px);
        }
        &:nth-child(4) {
            @include bgimg('pc/top/top_about_copy04.png', 594px, 18px);
        }
        &:nth-child(5) {
            @include bgimg('pc/top/top_about_copy05.png', 262px, 18px);
            margin-bottom: 0;
        }
    }
    // &.inview {
    //     p {
    //         opacity: 1;
    //         // filter: blur(0);
    //         transform: scale(1);
    //         transition: opacity 4s ease, transform 2s ease;
    //         &:nth-child(1) {
    //             transition-delay: 0.15s*1;
    //         }
    //         &:nth-child(2) {
    //             transition-delay: 0.15s*2;
    //         }
    //         &:nth-child(3) {
    //             transition-delay: 0.15s*3;
    //         }
    //         &:nth-child(4) {
    //             transition-delay: 0.15s*4;
    //         }
    //         &:nth-child(5) {
    //             transition-delay: 0.15s*5;
    //         }
    //     }
    // }
}

.characters {
    margin-bottom: 120px;
    h2 {
        @include bgimg('pc/top/top_characters_ttl.png', 264px, 24px);
        margin: 0 auto;
    }
    ul {
        width: 964px;
        margin: 0 auto;
        padding-top: 120px;
    }
    li {
        @include clr;
        .txt {
            width: 550px;
            float: right;
        }
        h3 {
            margin-bottom: 60px;
        }
        .img {
            float: left;
            position: relative;
            top: -40px;
            width: 410px!important;
            &.for-sp {
                display: none;
            }
        }
    }
    .premi {
        h3 {
            @include bgimg('pc/top/top_characters_premi_name.png', 134px, 22px);
        }
        p {
            @include bgimg('pc/top/top_characters_premi_copy.png', 432px, 252px);
            &.for-sp {
                display: none;
            }
        }
        .img {
            @include bgimg('pc/top/top_characters_premi_img.png', 266px, 506px, no-repeat, center, top);
            top: -70px;
        }
    }
    .spanky {
        h3 {
            @include bgimg('pc/top/top_characters_spanky_name.png', 180px, 20px);
        }
        p {
            @include bgimg('pc/top/top_characters_spanky_copy.png', 542px, 44px);
        }
        .img {
            @include bgimg('pc/top/top_characters_spanky_img.png', 216px, 228px, no-repeat, center, top);
        }
    }
    .poody {
        h3 {
            @include bgimg('pc/top/top_characters_poody_name.png', 180px, 22px);
        }
        p {
            @include bgimg('pc/top/top_characters_poody_copy.png', 392px, 44px);
        }
        .img {
            @include bgimg('pc/top/top_characters_poody_img.png', 200px, 246px, no-repeat, center, top);
        }
    }
    .kujira {
        h3 {
            @include bgimg('pc/top/top_characters_kujira_name.png', 106px, 22px);
        }
        p {
            @include bgimg('pc/top/top_characters_kujira_copy.png', 444px, 42px);
        }
        .img {
            @include bgimg('pc/top/top_characters_kujira_img.png', 402px, 290px, no-repeat, center, top);
            top: -60px;
        }
    }
    &:after {
        @include va;
        @extend %seperater;
    }
}

.areas {
    margin-bottom: 120px;
    h2 {
        @include bgimg('pc/top/top_areas_ttl.png', 396px, 24px);
        margin: 0 auto 60px;
    }
    .comingsoon {
        height: 212px;
        background-color: #f5f5f5;
        position: relative;
        p {
            @include bgimg('pc/top/top_areas_comingsoon.png', 508px, 90px);
            @include absc;
        }
    }
}

@include max-screen(750px) {
    .top-hero {
        position: relative;
        height: 100%;
        height: 100vh;
        margin-bottom: 20px;
        h1 {
            @include r-bgimg('sp/common/logo.png', 390px, 252px);
            position: relative;
            z-index: 2;
            top: 30px;
            left: auto;
            margin: 0 auto;
        }
        .map-container {
            width: 90%;
            height: 90%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            .map {
                @include r-bgimg('sp/common/map.jpg', 640px, 516px, no-repeat, center, center);
                width: 100%;
                height: 100%;
                z-index: 1;
                background-size: contain;
                position: relative;
                top: 30px;
                @keyframes mapScale {
                    from {
                        transform: scale(1.02);
                        // filter: blur(4px);
                    }
                    to {
                        transform: scale(1);
                        // filter: blur(0);
                    }
                }
            }
        }
        .share-sns {
            font-size: 0;
            position: absolute;
            height: 30px;
            right: 0;
            left: 0;
            bottom: 40px;
            margin: 0 auto;
            width: 112px*0.5;
            z-index: 2;
            h2 {
                @include r-bgimg('sp/common/share_ttl.png', 64px, 16px);
                display: block;
                margin: 0 auto 11px;
            }
            .twitter {
                span {
                    @include r-bgimg('sp/common/share_tw.png', 38px, 40px);
                    display: inline-block;
                }
                margin-right: 0;
                &:after {
                    @include va;
                    @include r-bgimg('sp/common/share_line.png', 2px, 40px);
                    display: inline-block;
                    margin: 0 8px;
                }
            }
            .facebook {
                span {
                    @include r-bgimg('sp/common/share_fb.png', 38px, 40px);
                }
                margin-right: 0;
            }
            .twitter,
            .facebook {
                display: inline-block;
                cursor: pointer;
                transition: opacity 0.35s ease 0s;
                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }
    section {}
    .about {
        margin-bottom: 60px;
        &:before {
            @include va;
            display: block;
            height: 2px;
            width: 10px;
            background-color: #514a47;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        &:after {
            @include va;
            display: block;
            height: 2px;
            width: 10px;
            background-color: #514a47;
            margin: 0 auto;
            margin-top: 60px;
        }
        p {
            margin: 0 auto 32px;
            //    filter: blur(2px);
            &:nth-child(1) {
                @include r-bgimg('sp/top/top_about_copy01.png', 378px, 66px);
            }
            &:nth-child(2) {
                @include r-bgimg('sp/top/top_about_copy02.png', 392px, 24px);
            }
            &:nth-child(3) {
                @include r-bgimg('sp/top/top_about_copy03.png', 472px, 66px);
            }
            &:nth-child(4) {
                @include r-bgimg('sp/top/top_about_copy04.png', 472px, 66px);
            }
            &:nth-child(5) {
                @include r-bgimg('sp/top/top_about_copy05.png', 364px, 24px);
                margin-bottom: 0;
            }
        }
    }
    .characters {
        margin-bottom: 60px;
        h2 {
            @include r-bgimg('sp/top/top_characters_ttl.png', 306px, 28px);
            margin: 0 auto 60px;
        }
        ul {
            width: auto;
            margin: 0 auto;
            padding-top: 0;
        }
        li {
            @include clr;
            margin-bottom: 60px;
            .txt {
                width: auto;
                float: none;
                margin-bottom: 30px;
                p {
                    margin: 0 auto;
                }
            }
            h3 {
                margin: 0 auto 10px;
            }
            .img {
                float: none;
                position: relative;
                top: 0;
                width: auto!important;
                margin: 0 auto 10px;
                display: none!important;
                &.for-sp {
                    display: block!important;
                }
            }
        }
        .premi {
            h3 {
                @include r-bgimg('sp/top/top_characters_premi_name.png', 178px, 28px);
                margin-bottom: 30px;
            }
            p {
                @include r-bgimg('sp/top/top_characters_premi_copy01.png', 532px, 214px);
                margin-bottom: 15px!important;
                &.for-sp {
                    @include r-bgimg('sp/top/top_characters_premi_copy02.png', 490px, 292px);
                    margin-bottom: 0;
                }
            }
            .img {
                @include r-bgimg('sp/top/top_characters_premi_img.png', 336px, 638px, no-repeat, center, top);
                top: 0;
            }
            &:after {
                @include va;
                @include r-bgimg('sp/top/top_characters_frends.png', 260px, 140px);
                margin: 50px auto 0;
            }
        }
        .spanky {
            h3 {
                @include r-bgimg('sp/top/top_characters_spanky_name.png', 238px, 26px);
            }
            p {
                @include r-bgimg('sp/top/top_characters_spanky_copy.png', 422px, 182px);
            }
            .img {
                @include r-bgimg('sp/top/top_characters_spanky_img.png', 236px, 250px, no-repeat, center, top);
            }
        }
        .poody {
            h3 {
                @include r-bgimg('sp/top/top_characters_poody_name.png', 240px, 30px);
            }
            p {
                @include r-bgimg('sp/top/top_characters_poody_copy.png', 380px, 102px);
            }
            .img {
                @include r-bgimg('sp/top/top_characters_poody_img.png', 200px, 246px, no-repeat, center, top);
            }
        }
        .kujira {
            margin-bottom: 60px;
            h3 {
                @include r-bgimg('sp/top/top_characters_kujira_name.png', 142px, 28px);
            }
            p {
                @include r-bgimg('sp/top/top_characters_kujira_copy.png', 482px, 102px);
            }
            .img {
                @include r-bgimg('sp/top/top_characters_kujira_img.png', 402px, 290px, no-repeat, center, top);
                top: 0;
            }
        }
        &:after {
            @include va;
            display: block;
            height: 2px;
            width: 10px;
            background-color: #514a47;
            margin: 0 auto;
        }
    }
    .areas {
        margin-bottom: 60px;
        h2 {
            @include r-bgimg('sp/top/top_areas_ttl.png', 466px, 28px);
            margin: 0 auto 60px;
        }
        .comingsoon {
            height: 130px;
            background-color: #f5f5f5;
            position: relative;
            p {
                @include r-bgimg('sp/top/top_areas_comingsoon.png', 392px, 136px);
                @include absc;
            }
        }
    }
}