.m-button{
    position: relative;
    display: flex;
    margin: 35px auto;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 66px;
    border:1px solid #fff;
    color:#fff;
    font-family: $notoB;
    font-weight: bold;
    @include smartText(1.6rem,0,1.6px);
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }

    span{
        &:after{
            content: '';
            position: absolute;
            top:50%;
            right:20px - 1;
            width: 10px;
            height: 20px;
            transform: translateY(-50%);
            background: url('../img/common/icon-arw-btn.svg') center;
            background-size: cover;
        }
    }

    @include isMobile{
        min-width: 0;
        width: 240px;
        height: 51px;
        @include smartText(1.3rem,0,1.3px);
        span {
            &:after{
                width: 8px;
                height: 16px;
                transform: translate(-50%,-50%);
            }
        }
    }
}


.effect-hover{
    @extend %buttonEffect;
}
