.modal{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left:100%;
    top:0;
    bottom:0;
    // pointer-events: none;
    z-index: $zModal;
    width:100%;
    // transition:all 500ms $ease-in-out ,width 10ms 1000ms;

    .modal-bg{
        position: fixed;
        left:100%;
        top:0;
        bottom:0;
        width:100%;
        background: rgba(#000, .8);
        z-index: -1;
        opacity: 0;
    }


    .container{
        position: relative;
        min-width: 50vw;
        max-height: 90vh;
        display: flex;
        // height: 100%;
        justify-content: center;
        align-items: center;
        background: #000;

    }


    .modal-content{
        // position: absolute;
        height:100%;
        width: 100%;

        // min-width: 80vw;
        // transition:transform
        img {
            position: absolute;
            left:0;
            top:0;
            width: 100%;
            height: auto;
        }

        iframe{
            position: absolute;
            right:0;
            bottom: 0;
            left:0;
            top:0;
            width: 100%;
            height:100%;
        }
        &:after {
            content: '';
            display: block;
            padding-top: 56.25%;
        }


        .modal-viewer{
            position: absolute;
            right:0;
            bottom: 0;
            left:0;
            top:0;
            width: 100%;
            height:100%;
            // visibility: hidden;
            background: #000;
            transform: matrix(.98, 0, 0, .98, 0, 0);
            opacity: 0;

        }



    }

    &.movie .modal-content {

        // .viwer-movie{
        //     visibility: visible;
        // }

        width: 75vw;
        &:after {
            padding-top: 56.25%;
        }
        @include isMobile {
            width: 100vw;
        }
    }

    &.photo .modal-content {

        // .viwer-photo {
        //     visibility: visible;
        // }


        width: 80vw;
        &:after {
            padding-top: 66.041666667%;
        }
        @include isMobile {
            width: 100vw;
        }
    }

    .modal-closer{
        position: absolute;
        right:-48px - 10;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        width:48px;
        height: 48px;
        background: $colorRed;
        transform: scale(.95);
        opacity: 0;

        @include isMobile {
            position: fixed;
            right:0;
            top:0;
            // transform: scale(.8) translate(100%);
            // transform-origin: right top;
        }
    }

    .modal-prev{
        position: absolute;
        top:25%;
        left:-58px - 40;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;

        @include isMobile {
            top:100%;
            height: auto;
            width: 50%;
            left:0;
            justify-content: flex-start;
            transform: translateY(20px);
            img {
                width: 26px;
                margin-left: 20px;
            }
        }
    }

    .modal-next{
        position: absolute;
        top:25%;
        right:-58px - 40;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;

        @include isMobile{
            top:100%;
            height: auto;
            width: 50%;
            right:0;
            justify-content: flex-end;
            transform: translateY(20px);
            img {
                width: 26px;
                margin-right: 20px;
            }
        }
    }

    .is-hide{
        display: none;
    }


}


.is-show-modal .modal{
    left:0;
    pointer-events: auto;
    .modal-bg {
        left:0;
    }

}
