
.tab-toggle{
    position: relative;
    display: flex;
    height: 70px;
    z-index: 2;
    @include isMobile {
        height: 50px;
    }

    a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        text-transform: uppercase;
        font-family: $bebasB;
        font-weight: bold;
        @include smartText(2.6rem,0,2.17px);
        background: $colorBase;
        color:$colorRed;
        transition: all 200ms;
        @include isMobile {
            @include smartText(1.8rem, 0,    2.17px);
        }

        &:after{
            position: absolute;
            content:'';
            left:50%;
            transform: translateX(-50%) scale(.5);
            width: 0;
            height: 0;
            border: 22px solid transparent;
            transition: all 200ms;
            @include isMobile {
                border: 15px solid transparent;
            }
        }
    }

    a:hover{
        background: $colorRed;
        color: #fff;
    }

    a.is-active{
        background: $colorRed;
        color: #fff;
        &:after{
            transform: translateX(-50%) scale(1);
        }
    }

    &.tab-top{
        a:after{
            border-top-color:$colorBase;
            bottom: -22px;
            @include isMobile {
                bottom: -15px;
            }
        }

        a:hover:after{
            border-top-color:$colorRed;
        }

        a.is-active:after {
            bottom: -44px;
            border-top-color:$colorRed;
            @include isMobile {
                bottom: -22px;
            }
        }

    }

    &.tab-bottom{
        a:after {
            border-bottom-color: $colorBase;
            top: -22px;
            @include isMobile {
                top: -15px;
            }
        }

        a:hover:after {
            border-bottom-color: $colorRed;
        }

        a.is-active:after {
            border-bottom-color: $colorRed;
            top: -44px;
            @include isMobile {
                top: -22px;
            }
        }
    }
}


.tab-container{
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: height 500ms;
    // box-shadow: inset 0 0 5px 5px rgba(#000, .5);
    box-shadow: inset 0 30px 20px -20px rgba(#000, .3),
                inset 0 -30px 20px -20px rgba(#000, .3);

}

.tab-content{
    position: absolute;
    width: 0;
    overflow: hidden;
    // pointer-events: none;
    z-index: 1;
}

 .tab-content.is-active {
    width: 100%;
    // pointer-events: auto;
    z-index: 2;
    @for $i from 1 through 3 {
        .movie:nth-child(#{$i}) {
            opacity: 1;
            transform: scale(1);
            transition-delay: 50ms * $i;
        }
    }
    @for $i from 1 through 20 {
        .photo:nth-child(#{$i}) {
            opacity: 1;
            transform: scale(1);
            transition-delay: 50ms * $i;
            &:hover {
                // transform: scale(.95);
                // transition-delay: none !important;
            }
        }
    }
}