</div>
<!-- .container -->
</div>
<!-- .site-wrapper main -->
<script src="/prediaisland/assets/js/plugins.js"></script>
<script src="/prediaisland/assets/js/picturefill.min.js"></script>
<script src="/prediaisland/assets/js/motion_base.js"></script>
<script src="/prediaisland/assets/js/motion_logo.js"></script>
<script src="/prediaisland/assets/js/commons.js"></script>
<script src="/prediaisland/assets/js/main.js"></script>

<%- page.customFoot %>
<script src="/prediaisland/assets/js/<%= page.fileName %>.js"></script>


<% if(!debugFlg){ %>
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-3109851-1');ga('send','pageview');
</script>
<% } %>
</body>
</html>
