<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- MOBIFY - DO NOT ALTER - PASTE IMMEDIATELY AFTER OPENING HEAD TAG -->
  <script type="text/javascript">/*<![CDATA[*/(function(e,f){function h(a){if(a.mode){var b=g("mobify-mode");b&&a[b]||(b=a.mode(c.ua));return a[b]}return a}function m(){function a(a){e.addEventListener(a,function(){c[a]=+new Date},!1)}e.addEventListener&&(a("DOMContentLoaded"),a("load"))}function n(){if(!f.visibilityState||!f.hidden){var a=new Date;a.setTime(a.getTime()+3E5);f.cookie="mobify-path=; expires="+a.toGMTString()+"; path=/";e.location.reload()}}function p(){k({src:"https://preview.mobify.com/v7/"})}function g(a){if(a=f.cookie.match(new RegExp("(^|; )"+a+"((=([^;]*))|(; |$))")))return a[4]||""}function l(a){f.write('<plaintext style="display:none">');setTimeout(function(){d.capturing=!0;a()},0)}function k(a,b){var e=f.getElementsByTagName("script")[0],c=f.createElement("script"),d;for(d in a)c[d]=a[d];b&&c.setAttribute("class",b);e.parentNode.insertBefore(c,e)}var d=e.Mobify={},c=d.Tag={};d.points=[+new Date];d.tagVersion=[7,0];c.ua=e.navigator.userAgent;c.getOptions=h;c.init=function(a){c.options=a;if(""!==g("mobify-path"))if(m(),a.skipPreview||"true"!=g("mobify-path")&&!/mobify-path=true/.test(e.location.hash)){var b=h(a);if(b){var d=function(){b.post&&b.post()};a=function(){b.pre&&b.pre();k({id:"mobify-js",src:b.url,onerror:n,onload:d},"mobify")};!1===b.capture?a():l(a)}}else l(p)}})(window,document);(function(){var o="//cdn.mobify.com/sites/mbsp-kose/production/adaptive.min.js";Mobify.Tag.init({mode:function(o){return/^((?!windows\sphone).)*(ip(hone|od)|android.*(mobile)(?!.*firefox))/i.test(o)?"enabled":"desktop"},enabled:{url:o},desktop:{capture:!1,url:"//a.mobify.com/mbsp-kose/a.js"}})})();/*]]>*/</script>
  <!-- END MOBIFY -->

	<% include ./_metatags %>
	<link rel="stylesheet" href="/resources/css/common.css">
	<link rel="stylesheet" href="/prediaisland/assets/css/main.css">
	<link rel="stylesheet" href="/prediaisland/assets/css/<%= page.fileName ? page.fileName : ''; %>.css">
	<%- page.customHead %>
    <%- debugFlg ? '<script>var debugMode=true;</script>' : ''; %>

<% if(!debugFlg){ %>

<% } %>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1382355158526869');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1382355158526869&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>

<body class="lang-ja <%= page.class ? 'page-' + page.class : ''; %> <%- debugFlg ? 'debugMode' : ''; %>">
<% if( page.class === 'top' ){ %>
<div class="loader"><canvas id="canvas" width="268" height="174"></canvas></div>
<% } else { %>
<div class="loader sec sec<%= currentPage ? currentPage : '' %>"><p class="page-ttl"><span><%- page.title %></span></p></div>
<% } %>
<div class="site-wrapper main">
<div class="container">
