<%
	var title          = (page.title!='' ? page.title + site.separator : '') + site.name;
	var description    = page.description!='' ? page.description : site.desciption;
	var keywords       = page.keywords!='' ? page.keywords : site.keywords;
	var ogpImage       = page.ogpImage!='' ? page.ogpImage : site.ogpImage;
	var ogpTitle       = (page.title!='' ? page.title + site.separator : '') + (page.ogpTitle !='' ? page.ogpTitle : site.ogpTitle);
		ogpTitle       = ogpTitle === '' ? title : ogpTitle;
	var ogpDescription = page.ogpDescription !='' ? page.ogpDescription : site.ogpDesciption;
		ogpDescription = ogpDescription === '' ? site.desciption : ogpDescription;
	var ogpType        = page.ogpType!='' ? page.ogpType : 'website';
	var twitterID      = page.twitterID!='' ? site.twitterID : '';
	var pageDirName    = page.fileName!='' ? page.fileName + '/' : '';
	var canonical      = page.pageDir;
%>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width">

<title><%= title %></title>

<link rel="apple-touch-icon" sizes="144x144" href="/prediaisland/assets/img/icons/webclip.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/prediaisland/assets/img/icons/webclip.png">
<link rel="icon" href="/prediaisland/assets/img/icons/webclip.png">

<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="robots" content="index, follow">
<link rel="canonical" href="<%= site.rootURL %><%= canonical %>">

<meta property="og:title" content="<%= site.name %>">
<meta property="og:url" content="<%= site.rootURL %>/">
<meta property="og:image" content="<%= site.rootURL %><%= ogpImage %>">
<meta property="og:type" content="<%= ogpType %>">
<meta property="og:description" content="<%= ogpDescription %>">

<meta name="twitter:card" content="summary_large_image">
<%# <meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">%>
<meta name="twitter:title" content="<%= site.name %>">
<meta name="twitter:description" content="<%= ogpDescription %>">
<meta name="twitter:image:src" content="<%= site.rootURL %><%= ogpImage %>">

<link rel="shortcut icon" href="/prediaisland/favicon.ico" type="image/x-icon">
