<nav class="site-nav">
    <div class="nav-container">
        <h1><a href="/prediaisland"><span>ようこそ、プレディア島へ</span></a></h1>
        <ul class="nav-main">
            <li class="brandsite-top"><a href="/"><span>ブランドサイトTOPへ戻る</span></a></li>
        </ul>
    </div>
    <div class="menubtn js-menubtn">MENU</div>
</nav>
