 <%
    var page = {
        title           : '',
        keywords        : '',
        description     : '',
        ogpTitle        : '',
        ogpDescription  : '',
        ogpImage        : '',
        ogpType         : 'website',
        class           : 'top',
        fileName        : 'top',
        pageDir        : '/',
        customHead      : '',
        customFoot      : '',
        thirdpartyScripts: ''
    };

%>
<% include _head %>
<% include _site-header %>
<% include _site-nav %>
<section class="top-hero">
    <h1><span>Welcome to Predia Island</span></h1>
    <div class="notificate"><a href="/prediaisland/14">人気スポット！ ジュレスタンド！</a></div>
    <div class="link2-cp-detail"><a href="/prediaisland/14">人気スポット！ ジュレスタンド！ 公開中！</a></div>
    <div class="updated">
        <h2>UPDATED</h2>
        <p><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/updated', ext:'png', alt:'4月16日更新しました。', cls:''}); %></p>
    </div>
    <div class="share-sns">
        <h2><span>SHARE</span></h2>
        <div class="twitter js-shareTW"><span></span></div>
        <div class="facebook js-shareFB"><span></span></div>
    </div>
    <div class="map-container"><div class="map"></div></div>
</section>
<section class="about js-inview">
    <p><span>エメラルド色の深い海、ディープシーにぽっかり浮かぶ</span></p>
    <p><span>小さな南の島「プレディア島」。</span></p>
    <p><span>この島では豊かな海の恵みと調和して、人々が健やかに美しく暮らしています。</span></p>
    <p><span>海からの優しい風や波音につつまれて、心も体も美しくなれる島、</span></p>
    <p><span>それが「プレディア島」です。</span></p>
</section>
<section class="characters">
    <h2><span>島のなかまたち</span></h2>
    <ul>
        <li class="premi">
            <div class="txt">
                <h3><span>プレミちゃん</span></h3>
                <p><span>プレディア島と海をこよなく愛す、島の案内人プレミちゃん。好奇心旺盛で快活な彼女は、毎日赤い自転車で島中を駆け回り、だれよりもプレディア島の素敵な秘密を知っています。さるのスパンキーやかもめのプーディ、くじらさんと話せるため、彼らと情報交換をして、時に島の人々に、自然の声を届けたりします。お年頃の彼女は、“きれいになること”に目覚めはじめた今日この頃。ただいま一生懸命、自分磨きに奮闘中。</span></p>
                <div class="img for-sp"></div>
                <p class="for-sp"><span></span></p>
            </div>
            <div class="img"></div>
        </li>
        <li class="spanky">
            <div class="txt">
                <h3><span>さるのスパンキー</span></h3>
                <div class="img for-sp"></div>
                <p><span>プレミの相棒。スパに浸かるのが大好きなモンキーなので、スパンキーと名付けられた。のんびり屋で、おくびょうなところがあり、いつもプレミの後ろにひっついている。</span></p>
            </div>
            <div class="img"></div>
        </li>
        <li class="poody">
            <div class="txt">
                <h3><span>かもめのプーディ</span></h3>
                <div class="img for-sp"></div>
                <p><span>素早く空を飛びわたり、空からの情報をプレミに伝えてくれる。賢くてユーモアのセンスにたけた仲間。</span></p>
            </div>
            <div class="img"></div>
        </li>
        <li class="kujira">
            <div class="txt">
                <h3><span>くじらさん</span></h3>
                <div class="img for-sp"></div>
                <p><span>ディープシーで100年以上生き続けている大先輩。時に優しく時に厳しく、大きな愛でプレミの成長を見守ってくれている。</span></p>
            </div>
            <div class="img"></div>
        </li>
    </ul>
</section>
<section class="areas">
    <h2><span>プレディア島のエリア紹介</span></h2>
    <nav class="area-index">
        <ul>
            <li><a href="/prediaisland/01/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index01', ext:'png', alt:sec_pages[0].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/02/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index02', ext:'png', alt:sec_pages[1].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/03/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index03', ext:'png', alt:sec_pages[2].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/04/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index04', ext:'png', alt:sec_pages[3].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/05/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index05', ext:'png', alt:sec_pages[4].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/06/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index06', ext:'png', alt:sec_pages[5].title, cls:''}); %></a></li>

            <li><a href="/prediaisland/07/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index07', ext:'png', alt:sec_pages[6].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/08/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index08', ext:'png', alt:sec_pages[7].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/09/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index09', ext:'png', alt:sec_pages[8].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/10/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index10', ext:'png', alt:sec_pages[9].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/11/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index11', ext:'png', alt:sec_pages[10].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/12/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index12', ext:'png', alt:sec_pages[11].title, cls:''}); %></a></li>

            <li><a href="/prediaisland/13/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index13', ext:'png', alt:sec_pages[12].title, cls:''}); %></a></li>
            <li class="new"><a href="/prediaisland/14/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index14', ext:'png', alt:sec_pages[13].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/15/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index15', ext:'png', alt:sec_pages[14].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/16/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index16', ext:'png', alt:sec_pages[15].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/17/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index17', ext:'png', alt:sec_pages[16].title, cls:''}); %></a></li>
            <li><a href="/prediaisland/18/"><%- include('/_module/_picture', {src:'/prediaisland/assets/img/responsive/areas_index18', ext:'png', alt:sec_pages[17].title, cls:''}); %></a></li>
        </ul>
    </nav>
    <%/* <div class="comingsoon">
        <p><span>COMING SOON これからプレディア島の秘密を毎月ご紹介していきます</span></p>
    </div> */%>
</section>
<% include _site-footer %>
<% include _foot %>
